<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>BIIJ</title>
  <meta name="description" content="Biomedical Imaging and Intervention Journal">
  <meta name="author" content="Eric Chung">
  <meta name="keyword" content="Radiology, Intervention Radiology, Medical Imaging">
  <meta name="refresh" content="120">
  <!-- Important for boostrap to detect mobile settings -->
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- Favicon -->
  <!-- <link rel="icon" type="image/png" href="favicon.ico"> -->

  <!-- Include JQuery cdn -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- load bootstrap cdn - Bundle Version - *Must be loaded first* -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <!-- General CSS which includes Footer and Header styles -->
  <link rel="stylesheet" href="css/general.css">

  <link rel="stylesheet" href="css/mainpage.css">
  

  <!-- font awesome cdn -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!-- Google font API -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  <!-- JS for article list -->
  <script src="js/articlelist.js"></script>


  <!-- Navbar contains the logo to the journal, clicking on it takes you to the homepage -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand row" href="/">
        <div class="column" id="j-title">BIIJ</div>
        <div class="column" id="j-subtitle">
          <p>Biomedical Imaging</p>
          <p>Interventional Journal</p>
        </div>
      </a>

      <!-- Collapsable menu for mobile screen -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar menu -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- ms-auto - align menu right, me-auto - align menu left -->
        <!-- navbar-nav-scroll enable collapsed menu scrolling when height is more than 200px -->
        <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 200px;">
          <!-- <li class="nav-item">
            <a class="nav-link" href="pages/articles.html">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/events.html">Events</a>
          </li> -->
        </ul>
        <!-- Horizontal and vertical elements - d-flex supports creating elements both horizontally  -->
        <form action="submission" class="d-flex ms-0">
          <button class="btn btn-outline-success" type="submit">Submission</button>
        </form>
      </div>

    </div>

  </nav>

  <!-- Remember to end head and start body in the main ejs file -->
  <!-- 
</head>
<body> -->