<%- include('partials/header'); %>

<link rel="stylesheet" href="css/text2speech.css">
<link rel="stylesheet" href="css/articleheader.css">
<link rel="stylesheet" href="css/sidebar.css">
</header>

<body>

    <script>
        var urlParams = new URLSearchParams(window.location.search);
        let serial;
        for (key of urlParams.values()) {
            serial = key;
            // we break cause we only want the first value
            break; 
        }
        let article_data = selectArticle(serial);
        let entire_volume = returnWholeVolume(serial);
        let previous_art = 0;
        let next_art;
        let current_art;

        for (let i = 0; i < entire_volume.length; i++){
            if (serial == entire_volume[i].serial){
                current_art = i;
            }
            if (current_art == 0 && entire_volume.length > 1){
                previous_art = entire_volume.length - 1;
                next_art = current_art + 1
            }else if (current_art == (entire_volume.length -1) && entire_volume.length > 1){
                previous_art = current_art - 1;
                next_art = 0;
            }else if (entire_volume.length == 1){
                previous_art = 0;
                next_art = 0;
            }else {
                previous_art = current_art - 1;
                next_art = current_art + 1;
            }
        }    
    </script>


    <div id="articleTitle" class="container-fluid">
        <div id="articleType" class="container px-5">
            <h6></h6>
        </div>
        <div id="articleName" class="container px-5">

            <h3>
            </h3>

        </div>

        <div id="articleAuthor" class="container px-5">
            <h6></h6>
        </div>

 


        <div id="previousNavigateContainer">
            <div id="navigatePrevious">
                <i class="fa fa-chevron-left"></i>
            </div>
            <div id="navigatePreviousBox" class="container left-d-navigation">
                <div>
                    <a id="previous_link" href="">
                        <p class="nav-box-title">Previous Article</p>
                        <p class="nav-box-name">
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div id="nextNavigateContainer">
            <div id="navigateNext">
                <i class="fa fa-chevron-right"></i>
            </div>
            <div id="navigateNextBox" class="container right-d-navigation">
                <div>
                    <a id="next_link" href="">
                        <p class="nav-box-title">Next Article</p>
                        <p class="nav-box-name">
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $( document ).ready(function() {
            $("#articleName h3").html(article_data.title.toUpperCase());
            $("#articleAuthor h6").html(article_data.author);
            $("#articleType h6").html(returnCaseType(serial) + " | ARTICLE IN PRESS");

            $("#previous_link .nav-box-name").html(entire_volume[previous_art].title);
            $("#next_link .nav-box-name").html(entire_volume[next_art].title);
            $("#previous_link").prop("href", "/case" + "?" + "s=" + entire_volume[previous_art].serial + "&id=" + entire_volume[previous_art].content)
            $("#next_link").prop("href", "/case" + "?" + "s=" + entire_volume[next_art].serial + "&id=" + entire_volume[next_art].content)
        });
    </script>


    <div id="casereportcontainer">
        <%- include(content); %>

    </div>



    <!-- <div id="sidebarList" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h3>Case Report</h3>
        <a href="#introduction" class="sliding-link">Introduction</a>
        <a href="#report" class="sliding-link">Report</a>
        <a href="#discussion" class="sliding-link">Discussion</a>
        <a href="#conclusion" class="sliding-link">Conclusion</a>
        <a href="#figures" class="sliding-link">Figures</a>
        <a href="#reference" class="sliding-link">References</a>

        <h4>Accesibility</h4>

        <div class="read-buttons">
            <button id="play"></button>
            <button id="pause"></button>
            <button id="stop"></button>
        </div>
        <div class="read-buttons">
            <button id="darkmode" onclick="toggleDarkMode()"></button>
        </div>
    </div> -->

    <!-- <div id="sidebarTag">
        <a href="javascript:void(0)" onclick="openNav()">
            <p>Sidebar Navigator</p>
        </a>
    </div> -->


    <!-- Implement modal popup to show enlarged picture with captions. 
    Coded JS to use ID to search for image source and caption text, create the appropriate elements and append them on before display.
    Code is in modalfigure.js -->

    <!-- Modal -->
    <div class="modal fade" id="imagePopUp" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="imageHolder" class="embed-responsive embed-responsive-16by9">
                        <!-- the image will be placed here by js -->
                    </div>
                    <div id="captionHolder">
                        <p>
                            <!-- the caption will be placede here by js -->
                        </p>
                    </div>
                </div>
                <div style="margin-bottom: 20px;" class="text-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="js/articleheader.js"></script>
    <script src="js/modalfigure.js"></script>
    <script src="js/sidebar.js"></script>
    <script src="js/text2speech.js"></script>

    <%- include('partials/footer'); %>