<%- include('partials/header'); %>

<div class="container" style="padding-top: 50px;">
    <h2 style="padding-bottom: 20px;">Editorial Board</h2>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th colspan="2">Editors</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p style="font-size: 16px; margin: 0px;">
                        Norlisah Ramli
                    </p>
                    <p style="font-size: 10px; margin: 0px;">
                        Malaysia
                    </p>
                </td>
                <td>
                    <a href="mailto:norlisah.ramli@biij.org">norlisah.ramli@biij.org</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p style="font-size: 16px; margin: 0px;">
                        Kwan-Hoong Ng
                    </p>
                    <p style="font-size: 10px; margin: 0px;">
                        Malaysia
                    </p>
                </td>
                <td>
                    <a href="mailto:kwanhoong.ng@biij.org">kwanhoong.ng@biij.org</a>
                </td>
            </tr>
        </tbody>
        <thead class="thead-dark">
            <tr>
                <th colspan="2">Associate Editors</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p style="font-size: 16px; margin: 0px;">
                        Michael MacManus
                    </p>
                    <p style="font-size: 10px; margin: 0px;">
                        Australia
                    </p>
                </td>
                <td>
                    <a href="mailto:michael.macmanus@petermac.org">michael.macmanus@petermac.org</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p style="font-size: 16px; margin: 0px;">
                        Wilfred Peh
                    </p>
                    <p style="font-size: 10px; margin: 0px;">
                        Singapore
                    </p>
                </td>
                <td>
                    <a href="mailto:wilfred.peh@singhealth.com.sg">wilfred.peh@singhealth.com.sg</a>
                </td>
            </tr>
        </tbody>
        <thead class="thead-dark">
            <tr>
                <th colspan="2">Managing Editor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p style="font-size: 16px; margin: 0px;">
                        Nahrizul Adib Kadri
                    </p>
                    <p style="font-size: 10px; margin: 0px;">
                        Malaysia
                    </p>
                </td>
                <td>
                    <a href="mailto:nahrizul.kadri@biij.org">nahrizul.kadri@biij.org</a>
                </td>
            </tr>
        </tbody>

        <thead class="thead-dark">
            <tr>
                <th colspan="2">International Advisory Board</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p style="font-size: 16px; margin: 0px;">
                        Basri J. J. Abdullah
                    </p>
                    <p style="font-size: 10px; margin: 0px;">
                        Malaysia
                    </p>
                </td>
                <td>
                    <a href="mailto:basri.abdullah@biij.org">basri.abdullah@biij.org</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p style="font-size: 16px; margin: 0px;">
                        Yang Faridah
                    </p>
                    <p style="font-size: 10px; margin: 0px;">
                        Malaysia
                    </p>
                </td>
                <td>
                    <a href="mailto:yangf@ummc.edu.my">yangf@ummc.edu.my</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p style="font-size: 16px; margin: 0px;">
                        Chai-Hong Yeong
                    </p>
                    <p style="font-size: 10px; margin: 0px;">
                        Malaysia
                    </p>
                </td>
                <td>
                    <a href="mailto:chaihong.yeong@biij.org">chaihong.yeong@biij.org</a>
                </td>
            </tr>


        </tbody>



    </table>


</div>



<%- include('partials/footer'); %>