<%- include('partials/header'); %>

<div class="container" style="padding-top: 50px;">
    <h2 style="padding-bottom: 20px;"> Recent articles</h2>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Original articles</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><a href="/recent-article/original/dosimetric.pdf" target="_blank">
                        DOSIMETRIC EVALUATION OF RADIATION DOSE RATE EFFECT IN RESPIRATORY GATED INTENSITY MODULATED
                        RADIATION THERAPY
                    </a>
                    <p style="font-size: 13px;">
                        Khamfongkhruea C, Tannanonta C, Thongsawad S
                        <br>
                        Biomed Imaging Interv J 2012; 8(1):e5
                    </p>
                </td>
            </tr>

            <tr>
                <td><a href="/recent-article/original/Anatomical variations.pdf" target="_blank">
                        ANATOMICAL VARIATIONS OF PULMONARY VENOUS DRAINAGE IN THAI PEOPLE: MULTIDETECTOR CT STUDY
                    </a>
                    <p style="font-size: 13px;">
                        Wannasopha Y, Oilmungmool N, Euathrongchit J
                        <br>
                        Biomed Imaging Interv J 2012; 8(1):e4
                    </p>
                </td>
            </tr>

            <tr>
                <td><a href="/recent-article/original/A phase II study.pdf" target="_blank">
                        A PHASE II STUDY OF OXALIPLATIN WITH 5-FU/FOLINIC ACID AND CONCOMITANT RADIOTHERAPY AS A
                        PREOPERATIVE TREATMENT IN PATIENTS WITH LOCALLY ADVANCED RECTAL CANCER
                    </a>
                    <p style="font-size: 13px;">
                        Chitapanarux I, Chitapanarux T, Tharavichitkul E, Mayurasakorn S, Siriwittayakorn P, Yamada S,
                        Lorvidhaya V
                        <br>
                        Biomed Imaging Interv J 2011; 7(4):e25
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Case Report</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><a href="/recent-article/case report/Fine needle aspiration.pdf" target="_blank">
                    FINE NEEDLE ASPIRATION OF LUNG LESION: LATERAL AND TRANSPECTORAL APPROACH
                    </a>
                    <p style="font-size: 13px;">
                        Smith K
                        <br>
                        Biomed Imaging Interv J 2012; 8(1):e2
                    </p>
                </td>
            </tr>

            <tr>
                <td><a href="/recent-article/case report/Ultrasound evaluation of penile fractures.pdf" target="_blank">
                    ULTRASOUND EVALUATION OF PENILE FRACTURES
                    </a>
                    <p style="font-size: 13px;">
                        Kachewar SG, Kulkarni DS
                        <br>
                        Biomed Imaging Interv J 2011; 7(4):e27
                    </p>
                </td>
            </tr>

            <tr>
                <td><a href="/recent-article/case report/Primary intracranial hemangiopericytoma.pdf" target="_blank">
                    PRIMARY INTRACRANIAL HEMANGIOPERICYTOMA WITH MESENTERIC AND RETROPERITONEAL SPREAD
                    </a>
                    <p style="font-size: 13px;">
                        Yesilkaya Y, Akinci D, Topcuoglu M, Tanas O, Altundag K
                        <br>
                        Biomed Imaging Interv J 2011; 7(4):e24
                    </p>
                </td>
            </tr>

            <tr>
                <td><a href="/recent-article/original/A phase II study.pdf" target="_blank">
                    EPIDURAL HAEMORRHAGE DURING EMBOLISATION: A RARE COMPLICATION OF INTRA-ARTERIAL EMBOLISATION OF VERTEBRAL METASTASES
                    </a>
                    <p style="font-size: 13px;">
                        Hashim H, Abdul Kadir KA
                        <br>
                        Biomed Imaging Interv J 2011; 7(4):e26
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

</div>



<%- include('partials/footer'); %>