<%- include('partials/header'); %>


<div class="container" style="margin-top: 50px;">
    <h1>
        Editorial Workflow
    </h1>

    <p>
        All manuscripts subject to the BIIJ's peer review process will be accorded the following procedure.
        <br>
        BIIJ adopted Open Journal Systems (OJS), an open source manuscript handling software, which will dictate the
        editorial workflow in its entirety, with registration and log in protocols at http://biij.org/system. Depending
        on the schedules of various editors, and the subject matter of the manuscript submitted, the most suitable
        editor will be given responsibility for it.
        <br>
        The manuscript will be declined if it is deemed to be incompatible with the objectives of BIIJ, or of poor
        quality and undeserving of the resources applied during the double-blinded peer-review procedure. On the other
        hand, if the manuscript is approved to be within BIIJ's scope and of an acceptable standard, the Editor will
        forward the manuscript to at least two reviewers for peer-review. Subsequently, each of the reviewers will
        indicate their opinion of the action to be taken within the following categories:
    </p>

    <ul>
        <li>
            Accept Submission
        </li>
        <li>
            Revisions Required
        </li>
        <li>
            Resubmit for Review
        </li>
        <li>
            Decline Submission
        </li>
    </ul>

    <p>
        Upon receipt of both reviewers reports, the Editor is able to take decisive action by way of one of the
        following:
    </p>

    <ul>
        <li>
            Accept Submission
        </li>
        <li>
            Revisions Required
        </li>
        <li>
            Resubmit for Review
        </li>
        <li>
            Decline Submission
        </li>
    </ul>

    <p>
        If the Editor recommends Accept Submission, the manuscript is accepted for publication. The paper will be sent
        to the next stage, to be proofread by a professional copyeditor. The author will be sent an acknowledgement
        email.
        <br>
        If the Editor recommends Revisions Required, the authors are notified to prepare and submit an amended version
        of their manuscript with the required changes suggested by the reviewers. Only the Editor, and not the external
        reviewers, reviews the revised manuscript after the changes have been made by the authors. Once the Editor is
        satisfied with the final manuscript, the manuscript can be accepted and sent to be proofread by the copyeditors.
        <br>
        If the Editor recommends Resubmit for Review, the recommendation is communicated to the authors. The authors are
        expected to revise their manuscripts in accordance with the changes recommended by the reviewers and to submit
        their revised manuscript in a timely manner. Once the revised manuscript is submitted, the original reviewers
        are contacted with a request to review the revised version of the manuscript. Along with their review reports on
        the revised manuscript, the reviewers make a recommendation which can be Accept Submission, Revisions Required,
        Resubmit for Review, or Decline Submission. The Editor can then make the final editorial recommendation.
        <br>
        An appropriate acknowledgment email will be sent to the authors, acknowledging them the outcome of the review
        process.
        <br>
        The editorial workflow gives the Editors the authority in rejecting any manuscript because of inappropriateness
        of its subject, lack of quality, or incorrectness of its results. The Editor cannot assign himself/herself as an
        external reviewer of the manuscript. This is to ensure a high-quality, fair, and unbiased peer-review process of
        every manuscript submitted to the journal, since any manuscript must be recommended by two or more external
        reviewers along with the Editor in charge of the manuscript in order for it to be accepted for publication in
        the journal.
        <br>
        The peer-review process is double blinded, i.e., the reviewers do not know who the authors of the manuscript
        are, and vice versa. At the end of the year, a list of researchers who have performed the peer-review process
        for the journal manuscripts in the past year will be published in the website. Without the significant
        contributions made by these researchers, the publication of the journal would not be possible.
    </p>
</div>


<%- include('partials/footer'); %>