<div id="articlebox" class="container">
    <article>
        <section><span id="introduction"></span>
            <h2>Introduction</h2>
            <p>
                Struma ovarii is a rare variant of mature cystic teratoma, with predominant presence of thyroid
                tissue.
                Although most of these tumours are benign, 5% of cases demonstrate malignant transformation with
                possibility of distant metastasis. [1] It is difficult to differentiate between struma ovarii and a
                malignant tumour pre-operatively, due to its morphological similarities, combined with the rarity of
                struma ovarii. We present a rare case of a histologically benign struma ovarii mimicking an ovarian
                malignancy, with presence of peritoneal strumosis.
            </p>
        </section>
        <section><span id="report"></span>
            <h2>Report</h2>
            <p>
                A 56-year-old post-menopausal lady presented with a chief complaint of abdominal pain and
                distension,
                associated with unquantifiable weight loss. She had no per-vaginal bleeding or other constitutional
                symptoms. Her menstrual history was unremarkable and she was not on any hormone replacement therapy.
                She
                volunteered a history of laparotomy for a right ovarian cyst and an elective caesarean section for
                breech presentation, both approximately 30 years ago. Bedside ultrasound by the gynaecology team
                noted a
                multi-cystic ovarian mass with solid components. Blood results revealed raised tumour marker levels,
                serum Ca-125 (151U/ml) and serum Ca-199 (81U/ML), suggestive of a malignant pathology.
            </p>
            <p>
                A CT scan was performed for staging and pre-operative planning, which demonstrated a large
                solid-cystic
                lesion with heterogenous enhancement and calcifications, arising from the pelvis extending caudally
                till
                the level of L3. There was no clear fat plane demarcation with the adjacent inferior pole of the
                caecum
                and small bowel loops, with mass effect noted onto the uterus and urinary bladder. The right
                external
                iliac artery traversed this lesion but remained patent throughout its course. The right ureter was
                not
                well visualised in its entirety, however no proximal obstructive uropathy was noted to suggest
                infiltration. A radiological diagnosis of an ovarian mass with possible bowel infiltration but no
                distant metastases was made <a onclick="openImageViewer('figure-1')">(Refer Figure 1)</a>. 
            </p>
            <p>
                Patient underwent resection of the lesion with total abdominal hysterectomy and bilateral
                salpingo-oophorectomy (TAHBSO) a week later. Intraoperatively, the tumour was found to be adherent
                to
                the caecum and abdominal wall <a onclick="openImageViewer('figure-2')">(Refer Figure 2)</a>, hence an on-table referral to a colorectal surgeon was done and a
                right
                hemicolectomy and partial omentectomy with primary anastomosis was performed. Post-operatively,
                patient
                had mild surgical site infection which was treated with antibiotics and she subsequently recovered
                well.
            </p>
            <p>
                The histopathology examination (HPE) revealed that the right ovarian tumour was composed of
                predominantly thyroid tissue, with occasional mature adipose tissue and some smooth muscle bundle.
                No
                lymphovascular permeation, capsular breach or malignant transformation were noted. The omentum
                specimen
                also demonstrated foci of bland thyroid tissue embedded within the adipose tissue. A final diagnosis
                of
                struma ovarii with peritoneal strumosis was made.
            </p>
            <p>
                A thyroid ultrasonography was subsequently performed which showed multiple nodules in bilateral
                thyroid
                lobes. The largest suspicious nodule measuring 0.7cm x 0.7cm x 0.8cm was seen in the left midpole
                which
                appeared taller-than-wider demonstrating ill-defined margins with peripheral calcifications, solid
                consistency and hypoechoic appearance. A TR5 scoring based on the ACR Thyroid Imaging Reporting and
                Data
                System (ACR TI-RADS) was given indicating a highly suspicious nodule <a onclick="openImageViewer('figure-3')">(Refer Figure 3)</a>.
            </p>
            <p>
                This case was later discussed in the multidisciplinary team meeting, which highlighted the
                controversy
                behind the diagnosis of peritoneal strumosis. There are many differing opinions in literature as
                well.
                Some clinicians are of the opinion that this is a benign disease while others consider it an
                extra-ovarian metastasis of highly differentiated follicular carcinoma. In view of the underlying
                histopathological uncertainty and highly suspicious thyroid ultrasonography findings, a total
                thyroidectomy was suggested.
            </p>
            <p>
                The thyroid function test (TFT) of the patient was unremarkable. A total thyroidectomy was performed
                two
                months later. The HPE of the thyroid tissue revealed bilateral lymphocytic thyroiditis. The left TR5
                thyroid nodule HPE showed follicular adenomatous nodules <a onclick="openImageViewer('figure-4')">(Refer Figure 4)</a>. There was no evidence of malignancy.
            </p>
            <p>
                Patient remains well on thyroid replacement therapy (levothyroxine), with no recurring abdominal
                symptoms and normal TFT and serum calcium levels
            </p>
        </section>
        <section><span id="discussion"></span>
            <h2>Discussion</h2>
            <p>
                Mature cystic teratoma (Dermoid cyst) is a common ovarian germ cell tumour and is often found
                incidentally on physical or radiological examinations. Presence of hair, teeth, bone or fatty
                components are commonly demonstrated, however thyroid tissue is rarely seen even on histological
                examination. [2] Struma ovarii is a monodermal variant of ovarian teratoma which constitutes more
                than 50% of thyroid tissue and accounts for only 2.7% of ovarian teratomas and 0.5% of all ovarian
                tumours. [2,3,4,5] It may present in all age groups, but is most frequently seen in the fifth and
                sixth decades of life. It was found that 6% of cases occur bilaterally, while most cases have a
                unilateral preponderance, mainly affecting the left ovary. [6]
            </p>
            <p>
                The most common presenting complaint is a palpable pelvic mass. Some patients present with
                non-specific symptoms of abdominal distention, back pain, vaginal bleeding and urinary frequency.
                About 17% of patients develop pseudo-Meigs syndrome when associated with ascites and hydrothorax.
                Despite a predominant composition of thyroid tissue, only 5% of struma ovarii tumours present with
                features of hyperthyroidism or deranged thyroid function test. [2, 3, 4, 6] This concurs with our
                case where the thyroid function of the patient remained normal.
            </p>
            <p>
                The generally accepted tumour marker for ovarian cancers, Ca-125 is found to be elevated in 80% of
                ovarian carcinomas. However, this marker is also raised in other tumorous lesions of the
                endometrium, intestines, breasts and lungs, as well as non-malignant gynaecological conditions,
                hence limiting its clinical application, as demonstrated in our case. Moreover, it is hypothesized
                that the increased serum Ca-125 is not a direct consequence of the malignant tumour itself, but
                rather a secondary effect due to the presence of ascites. [4]
            </p>
            <p>
                The radiological features of struma ovarii are often non-specific, making the pre-operative
                diagnosis difficult, similar to our patient. On transvaginal ultrasonography, struma ovarii is
                typically described as cystic tumours containing well-circumscribed solid components with smooth
                margin named as “struma pearls”. Doppler results of struma ovarii are reported to be differing with
                that of the typical dermoid cysts. The vascularity of struma ovarii was detected in the central part
                of the lesion, while vascularity was detected only peripherally in typical dermoid cysts cases.
                [2,6] Findings on CT are indistinct and typically appears as solid-cystic tumours with areas of high
                attenuation and foci of calcifications. Unlike the more common types of teratomas, struma ovarii
                does not demonstrate fat attenuation. It is postulated that the high-density appearances on CT is
                caused by both thymoglobulin and thyroid hormones that could attenuation the rays significantly. [6]
                The classic MRI appearance of struma ovarii is multiloculated cystic masses with multiple
                intracystic solid areas that demonstrate T1W intermediate signals and T2W low signals. The T2W
                hypointensity is suggested to be due to the viscous colloid content of the mass. [2]
            </p>
            <p>
                Histologically, struma ovarii consist of benign thyroid tissues including thyroiditis, hyperplasia
                or adenoma. Although this tumour is mostly benign, 0.3 to 5% of malignant cases has been reported.
                There is no agreed definition for malignant struma ovarii. The general consensus is that the
                diagnosis of malignant struma ovarii should be based on the histopathological criteria similar to
                the guidelines for primary thyroid disease. [5,7,8] Three main histopathological types have been
                identified; the most common is the papillary type (44%), followed by follicular (30%) and a
                follicular variant of papillary carcinoma (26%). [5,8] The accepted diagnostic criterion to suggest
                malignancy include cellular atypia with elevated nuclear pleomorphism, hyperplasia, mitotic activity
                and/or capsular invasion, all of which where not present in our patient. [4]
            </p>
            <p>
                Peritoneal strumosis are peritoneal nodules of struma origin, containing thyroid tissues. However,
                it is a controversial entity as a very similar histological form, “the highly differentiated
                follicular carcinoma of ovarian origin (HDFCO)” has been described. The latter is explained by
                extraovarian dissemination of thyroid elements with or without lymph nodes or distant metastasis.
                [6,7]
            </p>
            <p>
                The treatment strategy for struma ovarii is challenging because of two main reasons; its rarity and
                difficulty in distinguishing between benign and malignant strumas. Hence, optimal management should
                consider factors including patient’s age, preservation of fertility, histologic malignancy, tumour
                size, peritoneal strumosis or presence of distance metastasis. Surgical treatment of TAHBSO is a
                fair option in postmenopausal women. In cases where fertility preservation is desired, conservative
                approach such as unilateral oophorectomy should only be considered if there is a unilateral teratoma
                without evidence of capsular invasion or gross distant metastasis. Adjuvant therapy of total
                thyroidectomy, followed by radioiodine ablation therapy has been proposed for malignant cases.
                [2,4,5]
            </p>
            <p>
                After treatment, the prognosis of struma ovarii whether benign or malignant is good. Malignant
                struma ovarii has an overall survival of 92, 85 and 79% at 5,10 and 25 years. Cases with benign
                histological tumours, as in our case, have a better prognosis than those with malignant histology,
                even with the presence of disseminated disease.
            </p>
        </section>
        <section><span id="conclusion"></span>
            <h2>Conclusion</h2>
            <p>
                This case report emphasizes the rare entity of a histologically benign struma ovarii with peritoneal
                strumosis, which clinically and radiologically mimics a malignant ovarian pathology. With the
                proposed
                combined management of TAHBSO, total thyroidectomy and adjuvant radioiodine ablation therapy, this
                disease has good prognosis and high survival rate.
            </p>
        </section>

        <section><span id="figures"></span>
            <h2>Figures</h2>
            <div class="container">
                <figure id="figure-1" class="figure">
                    <img onclick="openImageViewer('figure-1')" src="../../../images/reports/case_0/figure_1.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 1">
                    <figcaption class="figure-caption figure-padding">
                        Figure 1: CECT abdomen in axial (A), coronal (B) and sagittal (C) slices demonstrating a
                        large
                        abdominopelvic mass with solid-cystic components causing mass effect to the uterus and
                        urinary
                        bladder (green arrow). Poor fat plane with the caecum (red arrow), right external iliac
                        artery
                        (yellow arrow) and small bowel (blue arrow).
                    </figcaption>
                </figure>
            </div>
            <div class="container">
                <figure id="figure-2" class="figure">
                    <img onclick="openImageViewer('figure-2')" src="../../../images/reports/case_0/figure_2.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 2">
                    <figcaption class="figure-caption figure-padding">
                        Figure 2: Intraoperative macroscopic specimen of the right hemicolectomy. The right ovarian
                        tumour is seen adherent to the caecum (arrow).
                    </figcaption>
                </figure>
            </div>
            <div class="container">
                <figure id="figure-3" class="figure">
                    <img onclick="openImageViewer('figure-3')" src="../../../images/reports/case_0/figure_3.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 3">
                    <figcaption class="figure-caption figure-padding">
                        Figure 3: Transverse (A) and longitudinal (B) views of the left thyroid ultrasonography
                        demonstrating an ill-defined hypoechoic lesion with peripheral calcification (yellow arrow).
                    </figcaption>
                </figure>
            </div>
            <div class="container">
                <figure id="figure-4" class="figure">
                    <img onclick="openImageViewer('figure-4')" src="../../../images/reports/case_0/figure_4.JPG"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 4">
                    <figcaption class="figure-caption figure-padding">
                        Figure 4 – (A) Tissue from ovary showing predominantly bland thyroid tissue arranged in
                        follicles pattern, lined by single layered cuboidal cells with colloid. (B) Tissue from
                        omentum showed clusters of bland thyroid follicles in adipose tissue, composed of single
                        layered cuboidal cells. (C) Thyroid tissue from thyroidectomy demonstrating lymphocytic
                        thyroiditis. (D) Tissue from suspicious TR5 thyroid nodule showing follicular adenoma.
                    </figcaption>
                </figure>
            </div>


        </section>

        <section><span id="reference"></span>
            <h2>References</h2>
            <ol>
                  <li>Hatem MA, So B. Struma ovarii. Journal of Biomedical Graphics and
                    Computing.
                    2014 Nov 1;4(4):22.</li>
                  <li>Singh P, Lath N, Shekhar S, Goyal M, Gothwal M, Yadav G, Khera P. Struma
                    ovarii: A report of three cases and literature review. Journal of Mid-life Health. 2018
                    Oct;9(4):225.</li>
                  <li>Jiang W, Lu X, Zhu ZL, Liu XS, Xu CJ. Struma ovarii associated with
                    pseudo-Meigs' syndrome and elevated serum CA 125: a case report and review of the literature.
                    Journal of ovarian research. 2010 Dec 1;3(1):18.</li>
                  <li>Yoo SC, Chang KH, Lyu MO, Chang SJ, Ryu HS, Kim HS. Clinical
                    characteristics
                    of struma ovarii. Journal of gynecologic oncology. 2008 Jun 1;19(2):135-8.</li>
                  <li>Makani S, Kim W, Gaba AR. Struma Ovarii with a focus of papillary
                    thyroid
                    cancer: a case report and review of the literature. Gynecologic oncology. 2004 Sep
                    1;94(3):835-9.
                </li>
                  <li>Zhang T, Chen P, Gao Y. Struma ovarii: a mini review. Int J Clin Exp
                    Med.
                    2018 Jan 1;11(10):10364-71.</li>
                  <li>Roth LM, Miller III AW, Talerman A. Typical thyroid-type carcinoma
                    arising
                    in struma ovarii: a report of 4 cases and review of the literature. International Journal of
                    Gynecological Pathology. 2008 Oct 1;27(4):496-506.</li>
                  <li>Hwu DW, Tsai SY, Chan HM, Chen YW, Chen YC, Hsiao PJ. A rare case of
                    histologic benign struma ovarii with distant metastasis. Journal of Clinical Gynecology and
                    Obstetrics. 2014 Sep 17;3(3):108-13.</li>
            </ol>
        </section>
    </article>
</div>