<div id="articlebox" class="container">
    <article>
        <section><span id="introduction"></span>
            <h2>Introduction</h2>
            <p>
                Neuroblastoma is the most common extracranial malignant tumour in the infant [1]. Neuroblastoma
                usually presents as an asymptomatic solid abdominal mass in infants [2]. The most common organ that
                it arises from is the adrenal gland [1]. Cystic masses within the adrenal gland are unusual findings
                and most often it is due to haemorrhage or necrosis. However, predominantly cystic lesions
                originating from the adrenal gland such as adrenal cyst or cystic neuroblastoma is rare [3]. All
                adrenal cystic masses should be followed up and checked with a baseline urinary VMA and HVA and the
                possibility of a cystic neuroblastoma should be considered [4]. We report a case of neuroblastoma in
                which the tumour is primarily cystic in nature.
            </p>
        </section>
        <section><span id="report"></span>
            <h2>Report</h2>
            <p>
                A 39 year old lady was diagnosed with pancreatitis in 2016 at UMSC via CT diagnosis(University
                Malaya Specialist Centre). Subsequent CT shows resolved pancreatitis with a large pancreatic tail
                pseudocyst. She was then admitted back to UMSC for an elective gastrocystostomy stent placement. The
                procedure was uneventful and she was discharged home with antibiotics.
            </p>
            <p>
                However, she presented to UMSC the next day with complains of vomiting and diarrhea as well as
                radiating abdominal pain. A CT was performed and showed a dislodged gastrocystostomy stent. She was
                then referred to UMMC(University Malaya Medical Centre) for further management.
            </p>
            <p>
                On admission to UMMC, an effort to retrieve the stent via percutaneous route proved to be successful
                and a new percutaneous pigtail drainage was placed to relieve the intracystic pressure.
            </p>
            <p>
                Post-procedure, patient has no abdominal symptoms. Repeat ultrasound shows resolved pseudocyst. She
                was subsequently discharged home with antibiotic.
            </p>
            <p>
                In view of the right adrenal neuroblastoma not responding to chemotherapy, a surgical operation was
                scheduled 8 months after the initial presentation. A partial debulking of the neuroblastoma tumour
                was successfully performed. Intraoperative findings showed a large multiloculated cystic tumour
                measuring around 20 x 23cm occupying almost the entire right half of the abdomen and extending
                across the midline. Approximately 2 litters of cystic and haemorrhagic fluid was drained from the
                tumour. Histopathology result for the resected tumor was consistent with neuroblastoma. A repeated
                ultrasound abdomen done 9 days after the operation showed a significantly smaller tumor size with no
                extension across the midline as shown in Figure 4. The patient is currently recovering well and
                planned for discharge by the end of the month.
            </p>
        </section>
        <section><span id="discussion"></span>
            <h2>Discussion</h2>
            <p>
                Neuroblastic tumors originate from primitive cells of the sympathetic nervous system and ranging
                from neuroblastoma, an undifferentiated malignant neoplasm to ganglioneuroma, a well differentiated
                benign neoplasm [5]. Neuroblastoma is the most common extracranial solid paediatric malignancy
                consisting of 8 to 10% of all childhood malignancies. About 15% of total cancer mortality in the
                paediatric population is related to neuroblastoma [6]. Most patients are diagnosed with
                neuroblastoma at an older age. Approximately 36% of children are diagnosed at the age of less than 1
                years old and these children confers a better prognosis [2, 7]. There is suggestion that
                neuroblastoma may be hereditary particularly those with familial, multifocal and bilateral disease
                [7].
            </p>
            <p>
                EAbout 65% of neuroblastoma located within the abdomen arises from the adrenal medulla. Other sites
                within the abdomen or pelvis this tumour may originate from are the paravertebral sympathetic chain,
                presacral region, coeliac axis and para-aortic body. Thoracic neuroblastomas are less common
                compared to the abdomen and usually arises from the posterior mediastinal sympathetic chain.
                Neuroblastoma also can arise from the head and neck although these are likely due to distant
                metastases from unknown site of origin [1].
            </p>
            <p>
                There is a wide variety of presentation for cystic neuroblastoma which consists of a solid
                neuroblastic tumor in close proximity to a cyst, solid tumour with internal haemorrhage or necrosis
                and a solid tumour within the cystic wall [8]. According to Croitoru et al. [4], a thickened,
                irregular cystic adrenal mass is likely to represent a cystic neuroblastoma. Furthermore, a cystic
                adrenal mass with soft tissue component is more suggestive of a cystic neuroblastoma rather than an
                adrenal haemorrhage [8]. Our case described a predominantly cystic neuroblastic tumour with internal
                areas of soft tissue and fat component.
            </p>
            <p>
                Patients with adrenal neuroblastoma often is asymptomatic and usually goes undetected clinically
                until it has produced high enough levels of catecholamine substances such as dopamine, epinephrine
                and its metabolites i.e. vanillylmandelic acid (VMA) and homovalnillic acid (HVA) or have
                metastasize to other organs [1, 7]. High levels of VMA and HVA can be detected in the urine in
                90-95% of patients with neuroblastoma [7]. Symptoms are usually non-specific such as fever and loss
                of weight/appetite while other can present as a large abdominal mass, metastatic bone pain or
                catecholamine related sweating, flushing, diarrhoea and hypertension [1].
            </p>
            <p>
                In cystic neuroblastoma, the serum or urine catecholamines are rarely increased likely due to the
                small portion of solid component within the large cystic area. However, the cathecolamine levels for
                solid neuroblastomas predominantly in infancy are usually not elevated as well [8]. So far, there
                were no cases of elevated VMA levels documented in neuroblastoma with an adrenal cyst or
                haemorrhagic cyst, similar to our patient. The cystic component in the adrenal neuroblastoma is
                usually due to necrotic or haemorrhagic manifestations [3]. Other differential diagnosis that can be
                considered for an adrenal cystic mass is adrenal hematoma or abscess, congenital adrenal cyst,
                duplex kidney with an obstructed upper moiety, obstructed upper pole calyx, cystic Wilms tumour and
                extralobar sequestration [3, 8]. There is good prognosis of a cystic neuroblastoma, similar to that
                of the predominantly solid type [8].
            </p>
            <p>
                Ultrasound of the abdomen is a good radiographic modality for the initial assessment of an
                intrabdominal mass. An adrenal neuroblastoma usually presents as a heterogeneous suprarenal mass.
                Neuroblastomas are usually large when detected on ultrasound. Assessment for compression of the mass
                onto adjacent organs such as obstructive uropathy, vascular encasement/compression as well as liver
                and nodal metastases can be done via ultrasound. The main limitation of ultrasound is the difficulty
                in determining the extent and to delineate
            </p>
            <p>
                Neuroblastoma usually appears as a heterogeneous suprarenal mass due to internal haemorrhage,
                necrosis and/or calcifications on computed tomography (CT) scan of the abdomen. It may also present
                as a homogenous, lobulated soft tissue mass. Majority of neuroblastomas shows internal
                calcifications in 80-90% of the cases. CT scan is able to clearly demonstrate tumour extension
                across the midline, encasement/compression of the intrabdominal vessels and metastases to the liver,
                lymph nodes, spinal canal and bones. Besides that, CT scan is also good in visualizing retrocrural
                and paravertebral tumour extension into the thorax which is can occur in intrabdominal neuroblastoma
                [7].
            </p>
            <p>
                Magnetic resonance imaging (MRI) is useful in identifying the location, size and metastases of
                neuroblastoma with the tumour demonstrating hypointense or isointense signal on T1W and hyperintense
                signal on T2W images. Similar to CT scan, the tumour often appears heterogeneous due to internal
                haemorrhage, necrosis and/or calcifications. The advantages of MRI over CT or ultrasound scan are
                assessment bone marrow invasion for staging, characterization of extradural extension and precise
                detection of intrabdominal vascular encasement/compression without the use of contrast [7].
            </p>
            <p>
                Staging of the neuroblastoma disease is important to determine the mode of management. Stage 1 is a
                localized tumour confined to the organ and stage 2 is the tumour extending beyond the organ but not
                crossing the midline. For these stages, surgery is usually indicated without the need for
                chemoradiotherapy. Stage 3 is when the tumour has cross the midline and stage 4 is when there is
                evidence of distant metastasis. Stage 3 and 4 requires chemotherapy and/or radiotherapy. Metastases
                to the skin, liver and/or bone marrow are classified under stage 4s [2]. Our patient is currently
                diagnosed with stage 3 neuroblastoma and was undergoing active chemotherapy. However, due to failed
                chemotherapy, partial resection of the tumour was undertaken.
            </p>
        </section>
        <section><span id="conclusion"></span>
            <h2>Conclusion</h2>
            <p>
                Cystic neuroblastoma is a rare entity and should be considered as one of the differential diagnosis
                when working up for a predominantly cystic intrabdominal mass in an infant. Radiological imaging can
                assist in the diagnosis and staging of the disease [7]. It usually appears as a heterogeneous mass
                consisting of soft tissue, haemorrhage, necrosis and calcifications [3, 7]. Surgery is usually
                recommended for stage 1 and 2 neuroblastoma or in cases where the tumour is enlarging and not
                responding to chemoradiotherapy treatment [7].

            </p>
        </section>

        <section><span id="figures"></span>
            <h2>Figures</h2>
            <div class="container">
                <figure id="figure-1" class="figure">
                    <img onclick="openImageViewer('figure-1')" src="../../../images/reports/case_3/figure_1.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 1">
                    <figcaption class="figure-caption figure-padding">
                        Figure 1: Initial CT scan of the abdomen and pelvis in axial and coronal views (a,b)
                        demonstrating the cystic neuroblastoma (short arrow) with calcifications, solid and fat
                        components (long arrows).
                    </figcaption>
                </figure>
            </div>
            <div class="container">
                <figure id="figure-2" class="figure">
                    <img onclick="openImageViewer('figure-2')" src="../../../images/reports/case_3/figure_2.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 2">
                    <figcaption class="figure-caption figure-padding">
                        Figure 2: Histopathology of a section of the intrabdominal solid cystic mass revealed small
                        round blue cells which were positive for synaptophysin, consistent with a neuroblastoma.
                    </figcaption>
                </figure>
            </div>
            <div class="container">
                <figure id="figure-3" class="figure">
                    <img onclick="openImageViewer('figure-3')" src="../../../images/reports/case_3/figure_3.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 3">
                    <figcaption class="figure-caption figure-padding">
                        Figure 3: CT scan of the abdomen and pelvis in axial and coronal views (a,b) demonstrating
                        the large cystic neuroblastoma (short arrow) with calcifications, solid and fat components
                        (long arrows); (c,d) CT scan repeated 3 months later after starting chemotherapy with
                        increasing size of the tumour and worsening mass effect onto the adjacent organs.
                    </figcaption>
                </figure>
            </div>
            <div class="container">
                <figure id="figure-4" class="figure">
                    <img onclick="openImageViewer('figure-4')" src="../../../images/reports/case_3/figure_4.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 4">
                    <figcaption class="figure-caption figure-padding">
                        Figure 4: Ultrasound of the left abdomen (a) showing a large heterogeneous solid cystic mass
                        (arrows) representing a neuroblastoma (b) partial resection done in January 2017 with a
                        significantly smaller tumour size.
                    </figcaption>
                </figure>
            </div>
        </section>

        <section><span id="reference"></span>
            <h2>References</h2>
            <ol >
                  <li>Ferraro, E., et al., Prenatal adrenal neuroblastoma. Case report with
                    review of the literature. Journal of Ultrasound in Medicine, 1988. 7(5): p. 275-278.</li>
                  <li>Shah, S., N. Champaneria, and R. Pasle, Neuroblastoma in 3 months old
                    infant-A rare case report.</li>
                  <li>Atkinson Jr, G., et al., Cystic neuroblastoma in infants: radiographic
                    and pathologic features. American journal of roentgenology, 1986. 146(1): p. 113-117.
                </li>
                  <li>Croitoru, D., A. Sinsky, and J.-M. Laberge, Cystic neuroblastoma.
                    Journal of pediatric surgery, 1992. 27(10): p. 1320-1321.</li>
                  <li>Patel, R.D., A.V. Vanikar, and H.L. Trivedi, Non-functional adrenal
                    gland ganglioneuroma: case report. Research Journal of Endocrinology and Metabolism, 2013. 1(1):
                    p. 1..
                </li>
                  <li>Abo-Elenain, A., et al., Right adrenal gland neuroblastoma infiltrating
                    the liver and mimicking mesenchymal hamartoma: A case report. International journal of surgery
                    case reports, 2015. 12: p. 95-98.</li>
                  <li>Chandraprakash A, A.P., Shamim A, Rupa A, VijayKumar V, Bilateral
                    adrenal neuroblastoma; stage IV: a case report. Scholars journal of applied medical sciences,
                    2013; 1(4):298-300.</li>
                  <li>Cassady, C. and W.D. Winters, Bilateral cystic neuroblastoma: imaging
                    features and differential diagnoses. Pediatric radiology, 1997. 27(9): p. 758-759.</li>
            </ol>
        </section>
    </article>
</div>