<div id="articlebox" class="container">
    <article>
        <section><span id="introduction"></span>
            <h2>Introduction</h2>
            <p>
                Miliary opacities are tiny opacities 1-3mm in diameter which resembling millet seed, a type of cereal that is tiny and round measuring approximately 2mm in diameter (1, 2). Miliary opacities are usually associated with miliary tuberculosis, a type of tuberculosis where there is micronodular opacities affecting the lung fields due to widespread bloodstream spread of the disease, often affecting multiple organs within the body (2). Our patient presented to us with the complaint of prolonged cough and history of pulmonary tuberculosis contact with the neighbor. The patient was started on anti-tuberculous treatment however the condition remained the same. Subsequently CT thorax, abdomen and pelvis (TAP) was performed and revealed generalized miliary nodules in both lung fields with lung mass at the right lung. Computed tomography (CT) guided biopsy was made on the right lung mass and acinar adenocarcinoma of the lung was found.
            </p>
        </section>
        <section><span id="report"></span>
            <h2>Report</h2>
            <p>
                Although miliary opacities are often associated with miliary tuberculosis, there is in fact, many differential diagnoses, ranging from bacterial infection such as salmonella and nocardiosis, fungal infection such as histoplasmosis and coccidioidomycosis, viral infection such as varicella and mycoplasma, silicosis, rheumatoid arthritis, eosinophilic granuloma, sarcoidosis, and miliary metastases (3). The common textbook answers for miliary metastases are thyroid carcinoma, melanoma, adenocarcinoma of the breast, stomach, colon and pancreas. Patients that are immunocompromised are particularly susceptible to the many infective causes associated with miliary opacities because these diseases tend to be widespread bloodstream related infections with lung involvement (1). Although miliary metastases in lung adenocarcinomas is not a textbook answer, there have been numerous reported cases of miliary opacities secondary to metastases from lung adenocarcinomas (4-7).
            </p>
            <p>
                The patient is known to have diabetes mellitus type 2, and presented to the emergency department with symptoms chronic dry cough for 2 months with constitutional symptoms such loss of appetite and weight. The patient did not have any fever. However, the patient had contact with a neighbor with pulmonary tuberculosis. On examination, the patient was not cachexic, no lymphadenopathy, lungs had fine crepitations in both lungs. Blood investigations noted raised total white blood counts of 12.7 x 109/L with raised C-reactive protein titres of 34.56mg/L. Chest x-ray (CXR) revealed disseminated micronodular pattern in both lung fields. 
            </p>
            <p>
                Patient was started on anti-tuberculous medication however did not improve on subsequent visits. Multiple sputum acid fast bacilli (AFB) tests proved negative repeatedly. Despite two weeks of anti-tuberculous medication, patient did not improve, and had worsening shortness of breath. The repeat CXR appeared the same. Arterial blood gas revealed type 1 respiratory failure, that is insufficient oxygenation. Patient was admitted for oxygenation support and worked up for other differential diagnoses of miliary opacities. Sputum and blood specimen were sent to look for bacterial, fungal and viral infections common for miliary nodules, however turned out negative. Mantoux test was also negative. CT thorax, abdomen and pelvis (TAP) was subsequently done to look for underlying primary, and revealed generalized miliary nodules with random distribution, especially at the upper and midzones, and a lung mass at the lateral segment of the right lower lobe and sclerotic bone lesions. There is incidental prostatomegaly, however the rest of the visualized organs are reported to be normal. CT guided biopsy of the right lung mass was done and the histopathological examination (HPE) report is relayed in the following paragraph.
            </p>
            <p>
                Levels show strips of lung tissue infiltrated by malignant cells arranged in predominantly glandular pattern and some micropapillary architecture. These malignant cells display moderate to markedly enlarged pleomorphic hyperchromatic to vesicular nuclei with the latter showing prominent nucleoli, and moderate amount of eosinophilic cytoplasm. Mitosis is seen including atypical forms. The surrounding stroma shows desmoplastic reaction. No lymphovascular invasion is detected. Immunohistochemistry: The malignant cells show strong and diffuse nuclear positivity for TTF-1 stain. These features are in keeping with acinar adenocarcinoma, lung primary.
            </p>
        </section>
        <section><span id="discussion"></span>
            <h2>Discussion</h2>
            <p>
                Tuberculosis is a common infection in Malaysia. A recent article in The Star newspaper reported that there are 20,000 to 25,000 new tuberculosis cases every year in Malaysia with mortality rate of 1500 to 2000 yearly. Therefore, when a patient presents to the healthcare provider with symptoms similar to pulmonary tuberculosis such as cough and constitutional symptoms of weight loss and appetite, and most particularly the history of pulmonary tuberculosis contact, one would consider tuberculosis as their principal diagnosis. 
            </p>
            <p>
                Even in cases of miliary opacities on CXR, one would prioritize miliary tuberculosis as the principal diagnosis. Thus, adding both clinical history and imaging together the patient was empirically started on anti-tuberculous medication. The gold standard of diagnosing tuberculosis is positive culture of tuberculosis, however positive sputum acid fast bacilli is usually confirmatory of the disease. That said, there can be cases where patient is smear negative but still suffer from tuberculosis. Miliary tuberculosis is one of the common cases where patient may have sputum smear negative AFB because the infection is disseminated within the bloodstream, and does not cause significant lung infection with sputum production. Therefore, in cases of miliary tuberculosis, one could expect the sputum AFB to be smear negative and still continue with the treatment and principal diagnosis of miliary tuberculosis.
            </p>
            <p>
                Although there are many differential diagnoses for miliary opacities, an infective etiology remains on top of the list because the patient has raised total white cell counts and raised CRP indicative of underlying infection. The patient was empirically started on antibiotics, and blood and sputum were sent to look for fungal, bacterial and viral infections. None of these turned up significant results. Mantoux test was also negative. A CT TAP was performed to look for underlying malignancy, and a spiculated right lung mass was found. 
            </p>
            <p>
                In the CT report the nodules were reported to be random in distribution. Lung nodules have 3 distributive patterns with different etiologies; centrilobular, perilymphatic and random. Centrilobular lung nodules spare the subpleural and pleural margins and are associated with bronchoalveolar lung carcinoma, hypersensitivity pneumonitis, infection and respiratory bronchiolitis. Perilymphatic and random lung nodules can affect the pleural areas, however in perilymphatic lung nodules, the nodules have a predilection for the subpleural, septal and peribronchovascular areas and are usually associated with sarcoidosis, silicosis and lymphatic carcinomatosis. Random lung nodules are diffuse with no predilection for any areas, and are associated with metastases and miliary infection such as tuberculosis and fungal infection. The random distribution is consistent with miliary metastases from a lung primary, and the lung primary is likely the spiculated lung mass. Spiculated lung lesions refer to the spiculated edges or radiating spiked ill-defined edges which is the local extension of the malignant tumor in the lung parenchyma.
            </p>
            <p>
                In the CT report, there was also sclerotic bone lesions scattered throughout multiple vertebral bodies. Lung adenocarcinomas are reportedly sclerotic in nature, although lung metastases in general are known to be lytic and mixed. With the CT TAP, features are highly suggestive of a lung primary with lung and bone metastases. The HPE report confirms this diagnosis.
            </p>
            <p>
                Peritoneal strumosis are peritoneal nodules of struma origin, containing thyroid tissues. However,
                it is a controversial entity as a very similar histological form, “the highly differentiated
                follicular carcinoma of ovarian origin (HDFCO)” has been described. The latter is explained by
                extraovarian dissemination of thyroid elements with or without lymph nodes or distant metastasis.
                [6,7]
            </p>
        </section>
        <section><span id="conclusion"></span>
            <h2>Conclusion</h2>
            <p>
                Peripherally inserted central catheter (PICC) insertion is a relatively simple procedure even with
                patients with dextrocardia. However, there is higher incidence of complex cardiac diseases
                associated with dextrocardia, and in this scenario, the patient is associated with situs ambiguus,
                even though there is no association with complex cardiac diseases. Therefore extra caution should be
                advised with a fair bit of insight into the possible vascular variability when performing
                angiographic procedures for patients with dextrocardia or situs ambiguus. Consideration for
                pre-procedure imaging for known variant or syndromic pathology involving cardiovascular anatomy
                would be helpful in anatomical and veous mapping to prevent any technical suprises that may popped
                mid procedure.
            </p>
        </section>

        <section><span id="figures"></span>
            <h2>Figures</h2>
            <div class="container">
                <figure id="figure-1" class="figure">
                    <img onclick="openImageViewer('figure-1')" src="../../../images/reports/case_2/figure_1.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 1">
                    <figcaption class="figure-caption figure-padding">
                        Figure 1: Extensive bilateral miliary opacities in both lung fields
                    </figcaption>
                </figure>
            </div>
            <div class="container">
                <figure id="figure-2" class="figure">
                    <img onclick="openImageViewer('figure-2')" src="../../../images/reports/case_2/figure_2.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 2">
                    <figcaption class="figure-caption figure-padding">
                        Figure 2: Miliary nodules in both lung fields on CT, with random distribution.
                    </figcaption>
                </figure>
            </div>
            <div class="container">
                <figure id="figure-3" class="figure">
                    <img onclick="openImageViewer('figure-3')" src="../../../images/reports/case_2/figure_3.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 3">
                    <figcaption class="figure-caption figure-padding">
                        Figure 3: Right lung mass and miliary nodules, some appear to have coalesced.
                    </figcaption>
                </figure>
            </div>
        </section>

        <section><span id="reference"></span>
            <h2>References</h2>
            <ol  >
                <li>Voloudaki A, Tritou I, Magkanas E, Chalkiadakis G, Siafakas N, Gourtsoyiannis N. HRCT in miliary lung disease. Acta Radiologica. 1999;40(4):451-6.</li>
                <li>Sahn SA, Neff TA. Miliary tuberculosis. The American journal of medicine. 1974;56(4):495-505..</li>
                <li>Dähnert W. Radiology review manual: Lippincott Williams & Wilkins; 2011.</li>
                <li>Schaller A, Beau-Faller M, Mennecier B, Renaud-Picard B, Weingertner N, Massard G, et al. Lung adenocarcinoma with pulmonary miliary metastases and complex somatic heterozygous EGFR mutation. Case reports in oncology. 2014;7(3):769-73.</li>
                <li>Wu S-G, Hu F-C, Chang Y-L, Lee Y-C, Yu C-J, Chang Y-C, et al. Frequent EGFR mutations in nonsmall cell lung cancer presenting with miliary intrapulmonary carcinomatosis. European Respiratory Journal. 2013;41(2):417-24.
                </li>
                <li>Kim HJ, Kang SH, Chung HW, Lee JS, Kim SJ, Yoo KH, et al. Clinical features of lung adenocarcinomas with epidermal growth factor receptor mutations and miliary disseminated carcinomatosis. Thoracic cancer. 2015;6(5):629-35.</li>
                <li>Furqan M, Butler J, editors. Miliary pattern on chest radiography: TB or not TB? Mayo Clinic Proceedings; 2010: Elsevier</li>
            </ol>
        </section>
    </article>
</div>
