<div id="articlebox" class="container">
    <article>
        <section><span id="introduction"></span>
            <h2>Introduction</h2>
            <p>
                Central venous catheter insertion is a relatively simple procedure even in patients with
                dextrocardia. However, in this particular case, we were left in a difficult situation when the right
                internal jugular vein was cannulated because the guidewire coursed to the right side of the spine,
                to the right side of the heart. The first thing that comes to mind is whether the right common
                carotid artery was cannulated instead of the right internal jugular vein because one would expect
                the usual course of the superior vena cava in patients with dextrocardia is on the reverse side of
                the spine, that is to the left, leading to the left side of the heart. Therefore, if the guidewire
                courses to the right side of the spine, an arterial or extraluminal cannulation could have been made
                mistakenly. However, upon further investigation, the patient was found to have a double superior
                vena cava among various other abnormalities, and the cannulation was indeed done appropriately.
                Duplication of the superior vena cava is rare, occurring about 0.3% in the general population (1).
                This case report outlines the steps involved to confirm the location and anatomic consideration
                regarding situs ambiguus cases with variant vascular anatomy.
            </p>
        </section>
        <section><span id="report"></span>
            <h2>Report</h2>
            <p>
                The patient is a 7 months old girl requiring a central venous catheter for total parenteral
                nutrition prior to liver transplant post Kasai procedure. A peripherally inserted central catheter
                (PICC) insertion was requested, and the provided catheter was 3Fr in size. Upon inspecting the
                available routes of access via ultrasound, the right internal jugular vein was chosen because the
                veins of both arms and both subclavian veins too small to admit the size of the PICC. After
                cannulating the right internal jugular vein, a 0.018” guidewire was passed into the vessel under
                fluoroscopy guidance and it coursed to towards the heart on the right side of the spine. At this
                point, accidental cannulation of the right common carotid artery or extraluminal mediastinal course
                was considered to have occurred because in dextrocardia patient, the guide-wire should have coursed
                to the left of the heart. The guidewire was noticed to be flailing about within the cardiac blood
                flow turbulence, thus extraluminal course is unlikely. However, when it is advanced further, the
                guidewire was not able to pass into the inferior vena cava inferiorly below the diaphragm. Contrast
                media infusion was made and the contrast flow towards the heart; venous access was confirmed instead
                of an arterial one. The contrast media can be seen flowing towards the left side of the heart,
                through a tract likely the coronary sinus. It is important to note that although duplication of the
                superior vena cava is rare, about 0.3% in the general population, it is relatively common in
                patients with complex heart disease (CHD), reportedly up to 10-11% in incidence (1).
            </p>
            <p>
                Upon further investigation, the patient has underlying situs ambiguus, with history of biliary
                atresia post Kasai procedure and Ladd’s procedure for intestinal malformation. The patient is
                currently referred to our hospital for liver transplant. Situs ambiguus is derived from the Latin
                words: situs meaning site, and ambigō meaning wander or hesitate. Situs ambiguus is defined as an
                abnormality in which there are components of situs solitus and situs inversus in the same person.
                Situs ambiguus, therefore, can be considered to be present when the thoracic and abdominal organs
                are positioned in such a way with respect to each other as to be not clearly lateralized and thus
                have neither the usual, or normal, nor the mirror-imaged arrangements (2). Therefore, the definition
                of situs ambiguus encompasses a wide range of abnormal phenotypic visceral arrangement. Despite
                this, situs ambiguus is rare, cases of situs ambiguus with dextrocardia is reported to be 0.06% (3).
                Heterotaxia is generally regarded to be synonymous with situs ambiguus (4). The normal left and
                right positions of the visceral organs is called situs solitus, and situs inversus is regarded as
                the mirror-image arrangement of situs solitus (4). Cases of situs ambiguus usually present with
                isomerism of the atrial arrangement which is subclassified into asplenia syndrome (right isomerism)
                and polysplenia syndrome (left isomerism) (4). Situs ambiguus is clinically important to identify
                because it is associated with high incidence of complex congenital cardiac disease (CHD) 50-100% (4)
                and may warrant surgical intervention. The scimitar vein (4) refers to a type of partial anomalous
                pulmonary venous return (PAPVR), which in this type, the pulmonary vein drains into the systemic
                veins. The scimitar is a curved Turkish sword which resembles the curved opacity occasionally seen
                on the chest radiograph, almost exclusively seen on the right. Hypogenetic lung syndrome, more
                popularly known as scimitar syndrome (SS) (4) includes feature of right lung hypoplasia,
                dextrocardia, hypoplasia of right pulmonary artery and anomalous supply of the right lower lobe from
                the aorta, which is not fully present in this case.
            </p>
            <p>
                Chest radiograph supine revealed dextrocardia, with epiarterial bronchus on the left (Figure 1A).
                The stomach bubble was not evident on the chest radiograph. Subsequently patient had a 4-phase liver
                computed tomography (CT) done for pre liver transplant work up. The CT provided ample imaging data
                to characterize the truncal abnormalities in our patient. In all patients with situs ambiguus, we
                need an organized approach to characterize the abnormalities (4). First and foremost, the position
                of the atria of this patient is a mirror image: morphology wise, the right atrium resembles a normal
                left atrium, its atrial appendage appearing narrow and tube-like with pectinate muscles confined
                within; as opposed to the left atrium which resembles a normal right atrium, its atrial appendage
                appearing broad, with the pectinate muscles extend into the vestibule of the right atrium.
            </p>
            <p>
                Furthermore, the pulmonary veins drain into the right atrium, and the systemic veins into the left
                atrium. The aorta arises on the left of the pulmonary artery, and then arches to the right of the
                midline. The pulmonary artery on the other hand, arises to the right of the aortic root. There are 2
                SVCs in this patient, both arising from the left and right brachiocephalic trunk respectively. These
                are positioned lateral to the pulmonary artery and aorta. The left SVC drains directly into the left
                atrium. However right SVC drains into the coronary sinus which eventually drains into the left
                atrium.
            </p>
            <p>
                The atrioventricular connections for both left and right ventricles are concordant. The left
                ventricle contains the moderator band, which is usually visualized in a normal right ventricle. In
                comparison, the right ventricular endocardial surface is smooth, with two distinct papillary muscles
                groups with a thick endocardial wall resembling a normal left ventricle. The heart is positioned to
                the right of the midline with the cardiac apex lateralizing to the right. The lungs are also a
                mirror image, with a trilobed lung with epiarterial bronchus on the left, and bilobed lung with
                hyparterial bronchus on the right.
            </p>
            <p>
                The aorta in this patient continues to the right relative to the midline inferiorly into the abdomen
                to its bifurcation. The IVC is also on the right relative to the midline from its origin to mid
                liver, and subsequently crosses to the left at the diaphragmatic level and eventually draining into
                the left atrium. The IVC is seen best during the delayed phase of the CT.
            </p>
            <p>
                Contrast enhancement of the scimitar vein was noted during the arterial phase on this scan. During
                the arterial phase of the scan the pulmonary vessels have fully opacified and the scimitar vein can
                be seen draining from the right lower lobe through the diaphragm and into the subdiaphragmatic IVC.
                Contrast can be also noted flowing in the IVC distally towards the left atrium during this phase.
                The IVC proximal to the scimitar vein connection has not opacified during this phase. There is small
                atelectatic segment located at the right lower lobe with otherwise no overt features of hypoplasia,
                sequestration or systemic arterial supply.
            </p>
            <p>
                The superior mesenteric artery (SMA) is located posterior to the superior mesenteric vein (SMV). The
                stomach is not dilated. The patient was previously diagnosed with malrotation intraoperatively and
                Ladd’s procedure was done. There is no CT evidence of malrotation. The liver appears normal on the
                right of the abdomen measuring 6.3cm in the longitudinal dimension with an enlarged bilobed spleen
                on the left measuring 8.9cm in the longitudinal dimension (5). No spenunculus noted. The gallbladder
                is not visualized. The rest of the intraabdominal organs are normal.
            </p>
        </section>
        <section><span id="conclusion"></span>
            <h2>Conclusion</h2>
            <p>
                Peripherally inserted central catheter (PICC) insertion is a relatively simple procedure even with
                patients with dextrocardia. However, there is higher incidence of complex cardiac diseases
                associated with dextrocardia, and in this scenario, the patient is associated with situs ambiguus,
                even though there is no association with complex cardiac diseases. Therefore extra caution should be
                advised with a fair bit of insight into the possible vascular variability when performing
                angiographic procedures for patients with dextrocardia or situs ambiguus. Consideration for
                pre-procedure imaging for known variant or syndromic pathology involving cardiovascular anatomy
                would be helpful in anatomical and veous mapping to prevent any technical suprises that may popped
                mid procedure.
            </p>
        </section>

        <section><span id="figures"></span>
            <h2>Figures</h2>
            <div class="container">
                <figure id="figure-1" class="figure">
                    <img onclick="openImageViewer('figure-1')" src="../../../images/reports/case_1/figure_1.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 1">
                    <figcaption class="figure-caption figure-padding">
                        Figure 1. (A) Selected contrast cathetogram fluoroscopy images show shows contrast flowing
                        into the left sided part of the heart (coronary sinus). (B) The catheter was advanced
                        further and it goes further to the left part of the heart (left atrium).
                    </figcaption>
                </figure>
            </div>
            <div class="container">
                <figure id="figure-2" class="figure">
                    <img onclick="openImageViewer('figure-2')" src="../../../images/reports/case_1/figure_2.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 2">
                    <figcaption class="figure-caption figure-padding">
                        Figure 2. The radiograph of the chest in the supine position (A) demonstrates the
                        dextrocardia and the scimitar vein can be vaguely seen (SV). (B) Reconstructed CECT portal
                        venous phase coronal minimum intensity projection (minIP) (modified window level -23, window
                        width 1473) demonstrates the epiarterial left bronchus going above the left pulmonary artery
                        (LPA). (C) Reconstructed sagittal CECT portal venous phase in the lung window shows the
                        oblique fissure (arrows) of a bilobed right lung, and (D) the horizontal fissure (black
                        arrow) and oblique fissure (white arrow) of the trilobed left lung.
                    </figcaption>
                </figure>
            </div>
            <div class="container">
                <figure id="figure-3" class="figure">
                    <img onclick="openImageViewer('figure-3')" src="../../../images/reports/case_1/figure_3.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 3">
                    <figcaption class="figure-caption figure-padding">
                        Figure 3. (A) ¬¬CT in portal venous (PV) phase shows the orientation of the ascending aorta
                        arising to the left of the pulmonary artery, right sided descending aorta (striped arrow),
                        the left superior vena cava (chevron) and right superior vena cava (arrowhead). The right
                        atrial appendage appears tubular with pectinate muscles confined within (arrow), and this is
                        consistent with a normal left atrium. (B) This image shows the pulmonary veins draining into
                        the right atrium. The moderator band of the left ventricle can be seen which is consistent
                        with a morphologically normal right ventricle. (C) The left atrial appendage appears broad
                        with the pectinate muscles (arrowhead) connected to the rest of the atrial vestibule which
                        can be partially seen in (B). (D) In the short axis view of the heart, the right ventricle
                        is relatively smooth with thicker wall and two distinct papillary muscles (arrow) consistent
                        with the appearance of a normal left ventricle.
                    </figcaption>
                </figure>
            </div>
            <div class="container">
                <figure id="figure-4" class="figure">
                    <img onclick="openImageViewer('figure-4')" src="../../../images/reports/case_1/figure_4.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 4">
                    <figcaption class="figure-caption figure-padding">
                        Figure 4. (A) Reconstructed CT with multiplanar (MPR) projection along the plane of the IVC
                        in the delay phase. The right sided IVC can be seen (arrowhead) crossing to the left just
                        below the diaphragm. The scimitar vein (arrow) can be seen passing through the diaphragm and
                        draining into the IVC, also in sagittal MPR CT (B). (C) There is a small atelectatic segment
                        of the anteromedial basal segment of the bilobed right lung which is drained by the scimitar
                        vein.
                    </figcaption>
                </figure>
            </div>


        </section>

        <section><span id="reference"></span>
            <h2>References</h2>
            <ol  >
                  <li>Albay S, Cankal F, Kocabiyik N, Yalcin B, Ozan H. Double superior vena
                    cava: Two cases. Morphologie. 2006;90(288):39-42.</li>
                  <li>Jacobs JP, Anderson RH, Weinberg PM, Walters HL, 3rd, Tchervenkov CI,
                    Del Duca D, et al. The nomenclature, definition and classification of cardiac structures in the
                    setting of heterotaxy. Cardiol Young. 2007;17 Suppl 2:1-28.</li>
                  <li>Jiang W, Lu X, Zhu ZL, Liu XS, Xu CJ. Struma ovarii associated with
                    pseudo-Meigs' syndrome and elevated serum CA 125: a case report and review of the literature.
                    Journal of ovarian research. 2010 Dec 1;3(1):18.</li>
                  <li>Bernasconi A, Azancot A, Simpson JM, Jones A, Sharland GK. Fetal
                    dextrocardia: diagnosis and outcome in two tertiary centres. Heart. 2005;91(12):1590-4.</li>
                  <li>Dähnert W. Radiology review manual: Lippincott Williams & Wilkins; 2011.
                </li>
                  <li>ZKonus OL, Ozdemir A, Akkaya A, Erbas G, Celik H, Isik S. Normal liver,
                    spleen, and kidney dimensions in neonates, infants, and children: evaluation with sonography.
                    AJR Am J Roentgenol. 1998;171(6):1693-8.</li>
            </ol>
        </section>
    </article>
</div>