<div id="articlebox" class="container">
    <article>
        <section><span id="abstract"></span>
            <h2>Abstract</h2>
            <h4>Objective</h4>
            <p>
                To compare catheter related blood stream infection (CRBSI) rate between cuffed tunnelled and
                non-cuffed tunnelled PICC.
            </p>
            <h4>Methods</h4>
            <p>
                We prospectively followed 100 patients (50:50 cuffed and non-cuffed PICC) and compared CRBSI rate
                between these groups. Daily review and similar catheter care were performed until a PICC-related
                complication, completion of therapy, death or defined end-of-study date necessitate removal. CRBSI
                was confirmed in each case by demonstrating concordance between isolates colonizing the PICC at the
                time of infection and from peripheral blood cultures.
            </p>
            <h4>Result</h4>
            <p>
                A total of 50 cuffed PICC were placed for 1864 catheter-days. Of these, 12 patients (24%) developed
                infection, for which 5 patients (10%) had a CRBSI for a rate of 2.7 per 1000 catheter-days. Another
                50 tunnelled non-cuffed PICCs were placed for 2057 catheter-days. Of these, 7 patients (14%)
                developed infection, for which 3 patients (6%) had a CRBSI. for a rate of 1.5 per 1000
                catheter-days. The mean time to development of infection is 24 days in cuffed and 19 days in
                non-cuffed groups. The mean duration of utilization was significantly longer in non-cuffed than in
                cuffed group (43 days in non-cuffed versus 37 days in cuffed group, p= 0.008).
            </p>
            <h4>Conclusion</h4>
            <p>
                Cuffed PICC does not further reduce the rate of local or bloodstream infection. Tunnelled non-cuffed
                PICC is shown to be as effective if not better at reducing risk of CRBSI and providing longer
                catheter dwell time compared to cuffed PICC.
            </p>
        </section>
        <section><span id="introduction"></span>
            <h2>Introduction</h2>
            <p>
                Peripherally inserted central venous catheter (PICCs) is widely used today in providing intermediate
                and long-term venous access in patient care, namely for long term administration of antibiotics,
                parenteral nutrition and chemotherapy. Being a less invasive alternative of central venous access
                gives rise to its popularity over centrally inserted central catheter (CICCs).
            </p>
            <p>
                Recent studies involving catheter related infection hovers at around 6%(1, 2). A high infection rate
                is known to translates to increased costs ranges from $3,700 to $29,000 per episode(3-5)with an
                estimate annual cost of $300 million to $2 billion for all United States health care facilities (6).
            </p>
            <p>
                We have learnt from an audit by Nawawi et al at University Malaya Medical Centre (UMMC) in 2013 that
                tunneled PICCs have a lower rate of blood stream infection (BSI) compared to conventional PICCs (7),
                we continue to strive for catheter factors and technique of catheter insertion which could
                potentially minimize the rate of BSI.
            </p>
            <p>
                PICCs that featured cuffed <a onclick="openImageViewer('figure-1')">(Refer Figure 1)</a> designed
                with the aim to minimize the risk of both local and bloodstream infection has appeared in recent
                market. In this study, we seek to determine if cuffed PICC is able reduce infection rate in PICC by
                comparing CRBSI rate between tunneled cuffed and tunneled non-cuffed PICC.
            </p>
        </section>
        <section><span id="method"></span>
            <h2>Materials and methods</h2>
            <h4>Patients’ enrolment</h4>
            </h4>
            <p>
                The study was conducted between August 2016 and December 2018 in our interventional centre and
                approved by the Ethical Committee of UMMC. The first 50 patients referred for PICC with appropriate
                indication, such as long-term antibiotics, chemotherapy and total parenteral nutrition (TPN) were
                randomly assigned cuffed PICC. As control, subsequent 50 patients undergoing PICC insertion were
                assigned non-cuff PICC,
            </p>
            <p>
                Exclusion criteria included: non-consenting age (less than 17 y.o), thrombocytopenia and documented
                bacteraemia within the past 7 days. All participants voluntarily participated in this study and
                signed informed consent forms.
            </p>
            <h4>
                Medical device for PICCs insertion
            </h4>
            <p>
                The medical device used for this study is the ProPICC and the Pro- Line Medcomp® (both 6F double
                lumen) percutaneous set kit which include: 6F double lumen PICC, introducer needle, PTFE Tear away
                sheath, 10cc syringe, guide wire, tunneller(cuffed) mini scalpel, tape measure and catheter
                securement device.
            </p>
            <p>
                Additional item and devices use for procedure include: Ultrasound Guidance System (Philip with
                linear probe), sterile drape for ultrasound probe, 2% lidocaine, normal saline, semi-permeable
                transparent dressing and other materials used in conventional PICC insertion.
            </p>
            <h4>Insertion technique</h4>
            <p>
                The patient is placed in the supine position. The basilic, brachial or cephalic vein in the mid to
                upper arm is identified and chosen for insertion using ultrasound. Subsequently the chosen arm is
                cleaned and draped under aseptic techniques and puncture site anaesthetized with lidocaine. Under
                ultrasound guidance, the targeted vein in the upper arm is punctured and with the introducer needle
                and the guide wires introduced into the vessel under fluoroscopy guidance.
            </p>
            <p>
                The needle is removed, leaving the wire behind. For the tunnel, another skin puncture was made about
                4-5 cm distal to the venous puncture site <a onclick="openImageViewer('figure-2')">(Refer Figure
                    2a)</a>. Lidocaine is given along the route of the tunnel. Using a tunneler, a subcutaneous
                tunnel is created towards the venous puncture site. Catheter attached to the tunneler is then
                threaded through the tunnel exiting at the venous puncture site <a
                    onclick="openImageViewer('figure-2')">(Refer Figure
                    2b)</a>. The tear–away sheath was
                threaded into the existing guide wire and advanced into the vein. The guide wire along with the
                sheath stylet is subsequently removed and the catheter advanced through the tear-away sheath into
                the vein <a onclick="openImageViewer('figure-2')">(Refer Figure
                    2c)</a>. This tunneling method was employed in all the patients, including patients with
                cuffed PICC of which the cuff of the catheter is placed within the distal end of the tunnel created.
                In case of cuffed catheter placement, the cuff is implanted inside the tunnel at least 2cm from the
                site of incision.
            </p>
            <p>
                In our practice, we consider correct placement of the catheter tip as being in the superior vena
                cava or at the superior vena cava/right atrium junction). This is confirmed with fluoroscopy before
                the tear-away sheath is removed. Following peel-away sheath removal, the venous puncture site is
                lightly compressed to secure haemostasis and the catheter secured on to the skin with appropriate
                securement device and dressing <a onclick="openImageViewer('figure-2')">(Refer Figure
                    2d)</a>. Appropriate dressing is then applied over the PICC site (not shown in the figure).
            </p>
            <h4>Complication evaluation</h4>
            <p>
                Patients are reviewed daily until removal, necessitated by a PICC-related complication, completion
                of therapy, death or defined end-of-study date. CRBSI was confirmed in each case by demonstrating
                concordance between isolates colonizing the PICC at the time of infection and from blood cultures.
            </p>
            <p>
                CRBSI is defined as bacteremia or fungemia in a patient who has an intravascular device with more
                than 1 positive blood culture result obtained from the peripheral vein, clinical manifestations of
                infection (e.g., fever, chills, and/or hypotension) and no apparent source for bloodstream infection
                (with the exception of the catheter). One of the following should be present: a positive result of
                semi-quantitative (>15 colony forming unit per catheter segment) or quantitative (>102 cfu per
                catheter segment) catheter culture, whereby the same organism (species) is isolated from a catheter
                segment and a peripheral blood culture; simultaneous quantitative cultures of blood with a ratio of
                13:1 cfu/mL of blood (catheter vs. peripheral blood); differential time to positivity (growth in a
                culture of blood obtained through a catheter hub is detected by an automated blood culture system at
                least 2 hours earlier than a culture of simultaneously drawn peripheral blood of equal volume)(8).
            </p>
            <h4>Statistical analysis</h4>
            <p>
                Analyses were conducted using SPSS 16.0.Kaplan-Meier survival analysis was used to study differences
                in time to infection between the 2 groups. A P value of less than 0.05 was considered to be of
                statistical significance.

                The CRBSI rate is more accurately expressed in this study as number of cases with CRBSI per 1000
                catheter days.

            </p>
            <p>
                For both cuffed-PICC and non-cuffed PICC groups, data on demography, indications for placement of
                the catheter, catheter type (cuffed and non-cuffed), vein punctured, number of days each catheter
                was in place, reason for removal and time to development of CRBSI were recorded. Length of time
                required for the tunneling was also recorded.
            </p>
        </section>
        <section><span id="result"></span>
            <h2>Result</h2>
            <h4>General patient data</h4>
            </h4>
            <p>
                The indication recorded for PICC insertion includes: long-term antibiotics (89%), chemotherapy (6%)
                and TPN (5%). There are ≈10 more male patient compared to female in each group (ratio of male to
                female at approximately 6:4. The mean age were 42 (range from 26 to 70 years old) and 45 years old
                (range from 28 to 66 years old) for cuffed and non-cuffed group respectively.
            </p>

            <h4>Efficiency and choice of insertion</h4>
            <p>
                In both groups, one-time puncture was achieved using real-time ultrasound guidance. The mean
                tunneling time for cuffed and non-cuffed PICC was 3.08 minutes (range 2 to 4 minutes) and 3.16
                minutes (range 2 to 5 minutes) with no significant differences between these two groups, p=
                0.474.Basilic vein is the commonest vein used in our study (45% in cuffed group and 41% in
                non-cuffed group).
            </p>
            <h4>Catheter indwelling time and CRBSI rate</h4>
            <p>
                Total dwell time for cuffed and non-cuffed PICC was 1864 catheter-days (range 18 to 58 days) and
                2057 catheter-days (range 28 to 68) respectively. The dwell time for non-cuffed PICC was
                significantly longer (mean = 41 days) than cuffed group (mean = 37 days), p=0.008.
            </p>
            <p>
                Twelve patients (24%) in the cuffed group developed infection, of which 5 patients (10%) had CRBSI.
                In the non-cuffed tunneled group, 7 patients (14%) developed infection, of which 3 patients (6%) had
                CRBSI. When comparing between the 2 groups, patient with cuffed PICC developed almost twice the
                number of local infection and CRBSI cases compared to tunneled PICC, however this differences were
                not significant statistically (p=0.525 and p=0.715 respectively).
            </p>
            <p>
                The CRBSI rate is higher in the cuffed group compared to non-cuffed tunneled group (4.4 versus 1.3
                per-1000 catheter days). However this difference was also not significant (p=0.715).
            </p>
            <p>
                The mean time to development of infection was longer (but not significant) in patients with tunneled
                PICC (24 versus 19 days, p = 0.7). This is illustrated by Kaplan-Meier survival curve of time to
                infection <a onclick="openImageViewer('figure-3')"> (Refer Figure 3)</a> by method of PICC (non-tunneled versus tunneled).
                These data are further simplified in Table 1. <a onclick="openImageViewer('table-1')">(Refer Table
                    1)</a>
            </p>

            <h4>CRBSI and types of microorganisms</h4>
            <p>
                Fifty percent of the CRBSI cases were caused by Gram-positive bacteria (Methicilin-Resistant
                Staphylococcus aureus (MRSA), n= 2, Methicilin-Sensitive Staphylococcus aureus (MSSA), n=2), while
                the rest were caused by Gram-negative bacteria (Klebsiella pneumonia, n =4) shown in <a
                    onclick="openImageViewer('table-1')">(Refer Table 1)</a>.
            </p>

            <h4>Other related catheter-related complications</h4>
            <p>
                Patient with cuffed PICC developed more local infection (puncture site) compared to non-cuffed
                counterpart, however they are not statistically significant, p = 0.338. No patient with the cuffed
                catheter reported dislodge(partial) while there are 2 patients with non-cuffed PICC recorded
                dislodge, p = 1.000. No significant difference in number of the patients reported catheter
                blockage(thrombosis) in both cuffed (n=2) and non-cuffed (n=2) groups, p = 0.495. These data can be
                found in Table 2 <a onclick="openImageViewer('table-2')">(Refer Table 2)</a>.
            </p>
            <h4>End point of catheter</h4>
            <p>
                All patients were followed up until the end point of study which are removal due to completion of
                treatment, complications necessitate removal or deceased. At the end of the study 66% of the cuffed
                group and 70% of the non-cuffed group completed treatment. Removal due to catheter related
                complications were recorded in 28% of the cuffed and 26% of the non-cuffed group.
            </p>
            <p>
                There are also no significant differences noted between the 2 groups with regards to other
                complications. One of the cuffed PICCs was removed at patient's request due to pain at insertion
                site (Table 2) <a onclick="openImageViewer('table-2')">(Refer Table 2)</a>.
            </p>
        </section>
        <section><span id="discussion"></span>
            <h2>Discussion</h2>
            <p>
                PICC is widely used as an alternative to a CICC mainly due to easier placement in the arm and lower
                major complication rate (9) . PICC also has been showed to be superior to CICC with longer mean and
                median time to development of infection (10). A published study has reported that tunneled PICC can
                further reduce the rate of CRBSI compared to conventional PICC (7). Due to the direct relation
                between CRBSI and healthcare cost, there is continued effort to look into ways to further minimize
                the CRBSI rate in PICC.
            </p>
            <p>
                Creating a tunnel in the arm is much easier compared to chest and requires shorter time to tunnel.
                Our study also showed that the tunneling procedure only added an average of 3 minutes to the
                standard procedure time for both cuffed and non-cuffed groups. Even though the skin of the arm can
                withstand the tunneling process well, tunneling did not contribute significantly to the stability of
                non-cuffed PICC (4 out of 50 non-cuffed tunneled PICC were dislodged). Tunneling a cuffed catheter,
                however, can help to prevent inadvertent removal (none out of 50 cuffed PICC were dislodged).
            </p>
            <p>
                Previous studies reported that longer total dwell time of catheter posed higher risk of infection
                (11-13). However, our findings indicate otherwise. Although the total dwell time of non-cuffed
                tunneled PICC was 193 days longer compared to the cuffed group, the rate of local infection and
                CRBSI in the non-cuffed group was almost half of that in the cuffed group (CRBSI rate: 1.5 per 1000
                catheter day versus 2.7 per 1000 catheter days). The survival analysis also showed a longer time to
                infection for non-cuffed PICC compared to cuffed PICC. Although these values had not reached
                statistical significance, they perhaps had contributed to the significantly lower rate of catheter
                removal caused by infection in the non-cuffed group.
            </p>
            <p>
                In the cuffed group 8 out of the 50 (16%) catheters were removed due to infection, either local or
                CRBSI. In the non-cuffed group total of 7 out of 50 (14%) catheters were removed due infection with
                42% (3 out the 7) of catheter removal being CRBSI. It is important to note that not all infected
                catheters need to be removed. This is based on Infectious Disease Society of America (IDSA) in their
                2009 updated Clinical Practice Guidelines for the Diagnosis and Management of Intravascular
                Catheter-Related Infection, which stated that long-term catheters should be only be removed if the
                CRBSI is associated with any of the following conditions: severe sepsis; suppurative
                thrombophlebitis; endocarditis; bloodstream infection that continues despite 72 hours of
                antimicrobial therapy to which the infecting microbes are susceptible; or infections due to S.
                aureus, P. aeruginosa, fungi, or mycobacteria (8).
            </p>
            <p>
                Patients with hematological malignancy from the haemotology ward formed the majority of the CRBSI
                cases (7 out of 9 cases). Studies have showed that patient with underlying malignancy are at higher
                risk to develop CRBSI ; mainly due to duration of neutropenia, extent of immunosuppression and
                frequency of catheter manipulations (blood sampling, number of times lines are accessed) in these
                patients (14-17), but when comparing between PICC and non-tunneled CICC in the hematology
                population, there was no significant difference in the infective complications (18).
            </p>
            <p>
                There are other factors that could potentially affect the risk of developing CRBSI. The use of
                multi-lumen catheters have been shown to have higher rates of infection as stated by the CDC
                guidelines and several randomized control trials (RCT). Five RCTs with data on 530 central VADs
                showed that for every 20 single-lumen catheters inserted, one CRBSI will be avoided that would have
                occurred had multi-lumen catheters been used (19). For this reason, a single-lumen catheter is
                recommended unless multiple ports are essential for patient management. If a multi-lumen catheter is
                used, one port should be identified and used exclusively for parenteral nutrition because the
                interaction of the infusate with drugs and solutions of different pH increases rates of thrombosis
                and, consequently, rates of infection (20). In this study we did not compare this aspect as all the
                catheters used in this study are double lumen catheters.
            </p>
            <p>
                Basilic vein was the commonest vein used in our study, mainly because it has the largest size,
                distant to the brachial artery and is deeper compared to the cephalic vein. The brachial vein
                followed next due to its size and easier access compared to the basilic vein. However, often extra
                caution is required when puncturing this vein due to its close proximity with the brachial artery.
                The cephalic was not used in our study as it is often very superficial, thus may be as suitable for
                laying the tunnel tract.
            </p>
            <p>
                The lack of large, prospective, randomized controlled studies of infectious complications of PICCs
                versus CICCs in hospital settings render comparison of risk between these two devices far from
                conclusive (10, 21, 22). There were however, two studies conducted by Maki, D.G et al in 2006 and Al
                Raiy, B. et al in 2010 which showed lower CRBSI incidence and longer median time to development of
                infection in PICC compared to CICC(10, 23).
            </p>
            <p>
                Most previous published studies have isolated Gram-positive organisms as the most common causative
                microorganisms of bloodstream infection(7, 24, 25). However, half of the cases (4 out of 8) with
                bloodstream infections in our study are caused by Gram-negative organism, ie, Klebsiella pneumonia.
                The emergence bloodstream infection caused by Gram-negative organisms which also include Pseudomonas
                aeruginosa and E.coli have been attributed to the rapid increased in extensively drug resistant gram
                negative bacilli especially in hospital intensive care units. (26).
            </p>
        </section>
        <section><span id="limitation"></span>
            <h2>Limitation</h2>
            <p>
                The study population is small and may explain why some of the results were statistically
                insignificant. Although the types of catheter used in the study is standardized, the materials of
                the cuffed catheters available in the market vary (in our study the cuffs are of non-medicated
                material made of polyester), and thus the results may not entirely reflect that of other types of
                cuffed catheters in general.
            </p>
            <p>
                A similar study should be performed with a larger population, concentrating on specific group of
                patients of similar ward settings with similar infusates. Choosing a population who requires longer
                use of catheter can help to more accurately compare catheter dwell time. Study comparing
                effectiveness of different types of cuffed catheters is also recommended.
            </p>
        </section>
        <section><span id="conclusion"></span>
            <h2>Conclusion</h2>
            <p>
                Cuffed PICC does not further reduce the rate of local or bloodstream infection. Tunnelled non-cuffed
                PICC is shown to be as effective if not better at reducing risk of CRBSI and providing longer
                catheter dwell time compared to cuffed PICC.
            </p>
        </section>

        <section><span id="figures"></span>
            <h2>Figures</h2>
            <div class="container">
                <figure id="figure-1" class="figure">
                    <img onclick="openImageViewer('figure-1')" src="../../../images/original/ori_0/Figure 1.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 1">
                    <figcaption class="figure-caption figure-padding">
                        Figure 1: Dual-lumen cuffed(ProLine) and non-cuffed(ProPicc) Medcomp® PICC used in this
                        study (images adapted from medcompnet.com).
                    </figcaption>
                </figure>
            </div>
            <div class="container">
                <figure id="figure-2" class="figure">
                    <img onclick="openImageViewer('figure-2')" src="../../../images/original/ori_0/Figure 2.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 2">
                    <figcaption class="figure-caption figure-padding">
                        Figure 2: Procedures step described in insertion technique.
                    </figcaption>
                </figure>
            </div>
            <div class="container">
                <figure id="figure-3" class="figure">
                    <img onclick="openImageViewer('figure-3')" src="../../../images/original/ori_0/Figure 3.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 3">
                    <figcaption class="figure-caption figure-padding">
                        Figure 3: Kaplan Meier survival analysis curve of time to infection between cuffed and
                        non-cuffed tunneled PICC.
                    </figcaption>
                </figure>
            </div>
        </section>
        <section><span id="table"></span>
            <h2>Tables</h2>
            <div class="container">
                <figure id="table-1" class="figure">
                    <img onclick="openImageViewer('table-1')" src="../../../images/original/ori_0/Table 1.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 1">
                    <figcaption class="figure-caption figure-padding">
                        Table 1: Vein selection, Total catheter dwell time, CRBSI rate and organism distribution.
                    </figcaption>
                </figure>
            </div>
            <div class="container">
                <figure id="table-2" class="figure">
                    <img onclick="openImageViewer('table-2')" src="../../../images/original/ori_0/Table 2.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 2">
                    <figcaption class="figure-caption figure-padding">
                        Table 2: End point of catheter including catheter complications that necessitates catheter
                        removal.
                    </figcaption>
                </figure>
            </div>
        </section>

        <section><span id="reference"></span>
            <h2>References</h2>
            <ol>
                <li>Chopra V, Ratz D, Kuhn L, Lopus T, Chenoweth C, Krein SJTAjom. PICC-associated bloodstream
                    infections: prevalence, patterns, and predictors. 2014;127(4):319-28.</li>
                <li>Grau D, Clarivet B, Lotthé A, Bommart S, Parer SJAR, Control I. Complications with peripherally
                    inserted central catheters (PICCs) used in hospitalized patients and outpatients: a prospective
                    cohort study. 2017;6(1):1-8.</li>
                <li>Digiovine B, Chenoweth C, Watts C, Higgins M. The attributable mortality and costs of primary
                    nosocomial bloodstream infections in the intensive care unit. American journal of respiratory
                    and critical care medicine. 1999;160(3):976-81.</li>
                <li>Mermel LA. Prevention of intravascular catheter-related infections. Annals of internal medicine.
                    2000;132(5):391-402.</li>
                <li>Warren DK QW, Hollenbeak CS, Elward AM, Cox MJ, Fraser VJ. Attributable cost of
                    catheter-associated bloodstream infections among intensive care patients in a nonteaching
                    hospital. Crit Care Med. August 2006;34(8):2084-9.</li>
                <li>Saint S, Savel RH, Matthay MA. Enhancing the safety of critically ill patients by reducing
                    urinary and central venous catheter-related infections. American journal of respiratory and
                    critical care medicine. 2002;165(11):1475-9.</li>
                <li>Nawawi O, Abdullah BJJ, Kifli NZD. Comparison of blood stream infection rate between
                    conventional peripherally inserted central line (PICC) and tunneled PICC [J]. Journal of Sound &
                    Vibration. 2001;242(242):740-8.</li>
                <li>Mermel LA, Allon M, Bouza E, Craven DE, Flynn P, O'Grady NP, et al. Clinical practice guidelines
                    for the diagnosis and management of intravascular catheter-related infection: 2009 Update by the
                    Infectious Diseases Society of America. Clinical infectious diseases : an official publication
                    of the Infectious Diseases Society of America. 2009;49(1):1-45.</li>
                <li>JR. W. Avoiding serious complications with central venous access. Surg Rounds 1992(July):637–41.
                </li>
                <li>Al Raiy B, Fakih MG, Bryan-Nomides N, Hopfner D, Riegel E, Nenninger T, et al. Peripherally
                    inserted central venous catheters in the acute care setting: A safe alternative to high-risk
                    short-term central venous catheters. American journal of infection control. 2010;38(2):149-53.
                </li>
                <li>Balkhy HH, Alsaif S, El-Saed A, Khawajah M, Dichinee R, Memish ZA. Neonatal rates and risk
                    factors of device-associated bloodstream infection in a tertiary care center in Saudi Arabia.
                    American journal of infection control. 2010;38(2):159-61.</li>
                <li>McLaws ML, Berry G. Nonuniform risk of bloodstream infection with increasing central venous
                    catheter-days. Infection control and hospital epidemiology : the official journal of the Society
                    of Hospital Epidemiologists of America. 2005;26(8):715-9.</li>
                <li>Zingg W P-BK, Pfister RE, Touveneau S, Pittet D. Individualized catheter surveillance among
                    neonates: A prospective, 8-year, single-center experience. Infection control and hospital
                    epidemiology : the official journal of the Society of Hospital Epidemiologists of America. 2011
                    Jan;32(1):42-9.</li>
                <li>Safdar N KD, Maki DG. A review of risk factors for catheter-related bloodstream infection caused
                    by percutaneously</li>
                <li>inserted, noncuffed central venous catheters: Implications for preventive strategies. Medicine
                    (Baltimore). 2002 Nov;81(6):466-79.</li>
                <li>Wylie MC GD, Potter-Bynoe G, Kleinman ME, Randolph AG, Costello JM, Sandora TJ. Risk Factors for
                    Central Line–Associated Bloodstream Infection in Pediatric Intensive Care Units. Infection
                    control and hospital epidemiology : the official journal of the Society of Hospital
                    Epidemiologists of America. 2010 Oct;31(10):049–1056.</li>
                <li>Advani S, Reich NG, Sengupta A, Gosey L, Milstone AM. Central line-associated bloodstream
                    infection in hospitalized children with peripherally inserted central venous catheters:
                    extending risk analyses outside the intensive care unit. Clinical infectious diseases : an
                    official publication of the Infectious Diseases Society of America. 2011;52(9):1108-15.</li>
                <li>Mollee P, Jones M, Stackelroth J, van Kuilenburg R, Joubert W, Faoagali J, et al.
                    Catheter-associated bloodstream infection incidence and risk factors in adults with cancer: a
                    prospective cohort study. The Journal of hospital infection. 2011;78(1):26-30.</li>
                <li>Worth LJ, Seymour JF, Slavin MA. Infective and thrombotic complications of central venous
                    catheters in patients with hematological malignancy: prospective evaluation of nontunneled
                    devices. Supportive care in cancer : official journal of the Multinational Association of
                    Supportive Care in Cancer. 2009;17(7):811-8.</li>
                <li>Zürcher M TM, Walder B. Colonization and bloodstream infection with single- versus multi-lumen
                    central venous catheters: a quantitative systematic review. Anesth Analg. 2004;99:177-82.</li>
                <li>Gallieni M, Pittiruti M, Biffi R. Vascular access in oncology patients. CA: a cancer journal for
                    clinicians. 2008;58(6):323-46.</li>
                <li>Safdar N MD. Risk of catheter-related bloodstream infection with peripherally inserted central
                    venous catheters used in</li>
                <li>hospitalized patients. Chest. 2005;128(2):489–95.</li>
                <li>Turcotte S DS, Beauchamp G. Peripherally inserted central venous catheters are not superior to
                    central venous catheters in the acute care of surgical patients on the ward. World J Surg Oncol.
                    2006;30(8):1605–19.</li>
                <li>Maki DG, Kluger DM, Crnich CJ. The risk of bloodstream infection in adults with different
                    intravascular devices: a systematic review of 200 published prospective studies. Mayo Clinic
                    proceedings Mayo Clinic. 2006;81(9):1159-71.</li>
                <li>Wisplinghoff H, Bischoff T, Tallent SM, Seifert H, Wenzel RP, Edmond MB. Nosocomial bloodstream
                    infections in US hospitals: analysis of 24,179 cases from a prospective nationwide surveillance
                    study. Clinical infectious diseases. 2004;39(3):309-17.</li>
                <li>Raad I, Hanna H, Maki D. Intravascular catheter-related infections: advances in diagnosis,
                    prevention, and management. The Lancet infectious diseases. 2007;7(10):645-57.</li>
                <li>Saied T, Elkholy A, Hafez SF, Basim H, Wasfy MO, El-Shoubary W, et al. Antimicrobial resistance
                    in pathogens causing nosocomial bloodstream infections in university hospitals in Egypt.
                    American journal of infection control. 2011;39(9):e61-5.</li>

            </ol>
        </section>
    </article>
</div>