<div id="articlebox" class="container">
    <article>
        <section><span id="abstract"></span>
            <h2>Abstract</h2>
            <h4>Objective</h4>
            <p>
                To determine the association between posterior circulation calcification and posterior circulation
                infarct (PCI) using Agatston calcium score (AS) and calcium volume (CV).
            </p>
            <h4>Methods</h4>
            <p>
                Retrospective case-control study of normal and PCI computed tomography (CT) brain images. AS and CV were
                measured along the vertebrobasilar artery. Mean total AS and mean total CV in control and PCI patients
                were compared. Correlation test between AS and CV among PCI patients was performed. Association between
                age, gender, significant risk factors, posterior circulation calcification, AS and CV with PCI as the
                outcome was determined. All odds ratio was presented with 95% CI.
            </p>
            <h4>Result</h4>
            <p>
                A total of 106 patients with normal CT brain and 105 patients with PCI were evaluated. Mean total AS
                (12.94) and CV (12.21) of patients with PCI were significantly higher than mean total AS (2.77) and CV
                (2.75) of control (p &lt; 0.05). Both AS and CV showed strong positive correlation in patients with PCI
                with
                Rho (r) = 0.993 and p &lt; 0.001. No association found between posterior circulation calcification and
                PCI
                (p =0.157). For every increase of AS by 1 there was 1.02 times the odds for patient to experience PCI
                (p =0.034). For every increase in CV by 1, there was 1.02 times the odds for patient to experience
                PCI (p =0.032). Increasing age, male gender and hyperlipidaemia showed significant association
                with PCI (p &lt; 0.05). </p>
            <h4>Conclusion</h4>
            <p>
                Posterior circulation calcification was not associated with PCI. However, increase in posterior
                circulation calcification burden was associated with PCI. Increasing age, hyperlipidaemia and male
                gender were associated with PCI.
            </p>
            <h4>Keyword</h4>
            
                <i>posterior circulation infarct, posterior circulation calcification, Agatston calcium score, calcium volume, vertebrobasilar artery</i>
            
        </section>
        <section><span id="introduction"></span>
            <h2>Introduction</h2>
            <p>
                Brain infarct is among the top 4 leading causes of death in ASEAN countries [1]. The mean age for infarct in Malaysia is 54.5 to 62.6 years [2]. Posterior circulation infarct (PCI) is a type of brain infarct that occurrs in the vertebrobasilar artery vascular territory. PCI has represented 7% of all ischaemic infarct in Malaysia [3]. Although death occurred in 1.3% of PCI cases as compared with 1.5% of anterior circulation infarct, the former showed significant association with disability at 3 months [4].
            </p>
            <p>
                Common causes of PCI are atherosclerosis (35%), cardioembolic phenomenon (24%) and vertebral artery dissection (15%). Sign and symptoms of PCI include dizziness, vertigo, dysarthria, nausea, vomiting, ataxia, nystagmus, limb weakness and loss of consciousness [5]. 
            </p>
            <p>
                Posterior circulation system supplies the cerebellum, brain stem, occipital lobe, thalamus and the inferior-medial part of temporal lobe. Early signs of infarct on plain computed tomography (CT) include areas of hypodensities, loss of grey white matter differentiation and sulcal effacement at these regions. Dense basilar artery sign on plain CT represents acute thrombosis of the basilar artery [5].
            </p>
            <p>
                Intracranial atherosclerosis is a major independent risk factor for ischaemic infarct in the general white population [6] and basilar artery is one of its common sites. The commonest locations for vertebral artery atherosclerosis are the V1 and V4 segments. Higher incidence of intracranial arterial calcification was found in patients with ischaemic stroke [7] and it may be used as a non-invasive marker for atherosclerosis as vessel calcification can be easily detected on CT [8]. Vertebral artery is the second most common artery affected by calcification after internal carotid artery. The major risk factors include old age, male sex, hypertension, diabetes mellitus, hyperlipidaemia, smoking and ischaemic heart disease [9].
            </p>
            <p>
                Plain CT is preferred over computed tomography angiogram (CTA) to study intracranial artery calcification as small amounts of calcification are easily detected and quantified [10]. Both qualitative and quantitative methods have been used previously to analyse calcification along the intracranial internal carotid artery and middle cerebral artery. The two common qualitative methods used were Babiarz’s method and Woodcock visual scoring system [11].
            </p>
            <p>
                Quantitative method used to analyse intracranial arterial wall calcification is Agatston calcium score (AS). AS was developed in 1990 to quantify coronary artery calcification and showed association with major cardiovascular events [12]. Kao et al (2015) demonstrated an association between middle cerebral artery calcification and ischaemic infarct of the corresponding territory [13]. The greatest strength of this scoring method is its wide availability of clinical data across gender, race and age. Calcium volume (CV) which was introduced in 1998 aimed to provide an alternative method to quantify coronary artery calcification. Compared with AS, CV is influenced by partial volume effect causing overestimation of a very dense or underestimation of a less dense calcified plaque. CV is not widely used in clinical practice due to lack of reference standard criteria from large multicentric research studies [14].
            </p>

            <p>
                Both CV and AS has good intra and interobservers agreement [11] and are independent predictors for major adverse cardiac event. Although CV is not directly affected by the area or peak attenuation density of a calcified plaque and not widely used [15], both AS and CV are strongly correlated with each other and  can be used to quantify arterial wall calcification [16]. To date, there is no literature available on the usage of CV to measure intracranial arterial wall calcification. AS, on the other hand is a validated quantitative parameter used to assess coronary artery calcification with widely available clinical data across gender, race and age.
            </p>
            <p>
                Limited studies were done correlating posterior circulation calcification with PCI. A previous study found no association between posterior circulation calcification and infratentorial infarct [17]. Studies on the posterior circulation calcification using AS and CV were non-existent. Since PCI has a worse prognosis with potential burden to the health care system, detection of potential risk factors and risk stratification for PCI will be beneficial. The established usage of AS for cardiovascular disease screening opens the possibility of developing a similar method to predict PCI. The aim of this study was to determine an association between posterior circulation calcification and PCI using AS and CV.
            </p>
        </section>
        <section><span id="method"></span>
            <h2>Materials and methods</h2>
            <p>
                This was a case control study at the radiology department of Hospital Raja Permaisuri Bainun (HRPB) Ipoh. All reported normal and PCI CT brain studies from January 2015 to December 2017 were retrospectively retrieved from radiology record department and Sistem Pengurusan  Pesakit 3.5 (SPP) online. 
            </p>
            <p>
                Each traced plain CT brain report was assigned a study identification number. Patients who were above 40 years old with evidence of acute and chronic PCI or normal CT brain findings were included in this study. Features of acute PCI include ill-defined areas of hypodensities, loss of grey white matter differentiation and/or evidence of mass effect at the cerebellum, brain stem, occipital lobe, thalamus and the inferior-medial part of temporal lobe. Features of chronic PCI include well-defined hypodensity with evidence of volume loss at the structures above.  Reported CT brain images with evidence of intracranial mass, haemorrhage and previous history of brain surgery were excluded. CT brain with artefacts which interfere with the region of interest was also excluded. 106 patients with normal CT brain were included in the normal (control) group and remaining 105 patients with PCI were included in the PCI group. All the CT brain studies were reported by trained and experienced radiologists. 
            </p>
            <p>
                This study has been approved by the Human Research Ethics Committee of Universiti Sains Malaysia (JEPeM code: USM/JEPeM/181001487) which complied with the Declaration of Helsinki.
            </p>
            <p>
                All CT brain imaging were acquired using Toshiba 64 Multislice Detector CT scanner. Scan parameters used were 135 kV, 115 mAs with slice thickness of 3mm. Scanning was performed craniocaudally in supine position
            </p>
            <p>
                Registration number of each CT brain report was used to retrieve CT images into Infinitt 3D workstation. Using the Xelis Calcium Scoring software, all calcified plaques along vertebrobasilar artery were detected. The threshold density used to identify a calcified plaque was 130HU.  ROI was applied on each detected calcified plaque and automated values for AS and CV were produced. Left V4 vertebral artery was labelled as left main coronary artery (LM). Right V4 vertebral artery was labelled as left anterior descending coronary artery (LAD). Basilar artery was labelled as circumflex artery (CX). These values were validated by a trained radiologist of 4 years experience who was blinded to the diagnosis. The total AS and CV for each CT brain study represent the sum of AS and CV of each individual calcified plaque. 
            </p>
            <p>
                Study identification number for CT brain report, age, gender, presence of posterior circulation calcification, AS, CV and significant risk factors (ischaemic heart disease, diabetes mellitus, hypertension, hyperlipidaemia and smoking) were recorded in a data collection sheet.
            </p>
            <p>
                Data were explored and analysed using SPSS software version 20.0. Categorical variables were presented as frequency and percentage. Continuous variables were presented as mean and standard deviation. Statistical significance was defined by a p value of less than 0.05. Independent t-test was used to compare the mean total AS and mean total CV in patients with normal CT brain and PCI. Pearson correlation was used to correlate AS and CV in patients with PCI. Simple and multiple logistic regression analysis was used to determine an association between age, gender, significant risk factors, posterior circulation calcification, AS and CV with PCI as the outcome. All odd ratios was presented with 95% confidence interval.  
            </p>
        </section>
        <section><span id="result"></span>
            <h2>Result</h2>
        
            <p>
                Total of 211 patients were included in this study. The age was normally distributed among the two groups. 
                The minimum and maximum patient’s age was 41 and 92 years respectively.  
                The mean age for patients with normal CT brain and with PCI was 53.24 and 66.03 respectively. 
                Higher percentage of posterior circulation calcification was seen in patients with PCI (17.1%) compared to those with normal CT (10.4%), 
                but no significance difference between both groups. There was statistical significance difference for age (p &lt; 0.001), gender (p=0.001), 
                ischaemic heart disease (p=0.005) and smoking (p &lt; 0.001) between both groups. 
                There was no significance difference for diabetes mellitus, hypertension, 
                hyperlipidaemia and posterior circulation calcification between both two groups (Table 1).
            </p>

            <p>
                The mean total AS was significantly higher in the PCI group, 12.94 (40.44) compared to normal group, 2.77 (11.30) with p=0.014. Similarly, the mean total CV was significantly higher in the PCI group, 12.21 (37.33) compared to the normal group, 2.75 (11.88) with p=0.015 (Table 2).
            </p>

            <p>
                Strong correlation was seen between AS and CV among patients with PCI with Rho (r)=0.993 (p &lt; 0.001) (Table 3).  Pearson correlation graph (Figure 1) showed a strong positive correlation between AS and CV among patients with PCI.
            </p>
            <p>
                There was no association found between posterior circulation calcification and PCI (p=0.157). However, for every increase in posterior circulation AS by 1, there was 1.02 times the odds for patients to experience PCI (OR 1.02, 95% CI 1.001, 1.034, p=0.034). Similarly, for every increase in posterior circulation CV by 1, there was 1.02 times the odds for patients to experience PCI (OR 1.02, 95% CI 1.001, 1.034, p=0.032). Patients with ischaemic heart disease alone have 3.68 times the odds to experience PCI compared to patients without ischaemic heart disease (OR 3.68, 95% CI 1.41, 1.64, p=0.008). Patients who smoke have 3.04 times the odds to experience PCI compared to non-smokers (OR 3.04, 95% CI 1.73, 5.32, p &lt; 0.001). There was significant association between increasing age (p &lt; 0.001) and male gender (p=0.008) with PCI when adjusted for other variables. Patients with hyperlipidaemia alone showed no significant association with PCI compared to patients without hyperlipidaemia (p=0.903). However, when adjusted for other variables there was significant association between hyperlipidaemia and PCI (p=0.003) (Table 4). 
            </p>

           
        </section>
        <section><span id="discussion"></span>
            <h2>Discussion</h2>
            <p>
                In current practice, plain CT is the first line imaging modality for ischaemic brain infarct. Most of intracranial infarct are due to atherosclerosis which eventually mainfests as calcifications and easily detected on plain CT. Intracranial internal carotid artery, vertebral artery and basilar artery are often affected by calcification [18] which acts an independent risk factor for ischaemic infarct [7]. Most of the previous studies focused on internal carotid and middle cerebral arteries calcification using Babiarz’s method and Woodcock visual scoring method. Chawalparit and Chareewit (2013) evaluated the severity of luminal stenosis as a surrogate for calcification thickness to determine the association between PCI and vertebrobasilar artery calcification. To the best of our knowledge, our study is the first to use AS and CV in evaluating posterior circulation calcification.
            </p>
            <p>
                In this study, we found that the mean total AS and CV of the posterior circulation calcification were higher in patients with PCI, which indicates higher arterial wall calcification burden in this group of patients. Patients with PCI also showed a higher mean age and higher prevalence of smoking and ischaemic heart disease, factors that contribute to the accelerated process of atherosclerosis. This finding is similar to the previous study, which showed a higher mean total AS in middle cerebral artery infarct group compared to control group [13]. Arterial wall calcification causes disruption of vascular tone causing loss of vasodilatory response which may lead to hypoperfusion and infarct [19].
            </p>
            <p>
                Among patients with PCI, both AS and CV showed strong positive correlation. This finding is supported by Lo-Kioeng-Shioe et al (2019), who also demonstrated strong correlation between AS and CV in quantifying coronary artery calcification [16]. The Xelis calcium scoring software displays automated values for AS and CV simultaneously. Since both AS and CV showed a strong positive correlation with good intra- and interobserver agreement, either method can be used to quantify arterial wall calcification burden. Based on previous studies on coronary artery calcification, even though CV showed better reproducibility and lower inter scan variability, it is not widely used due to lack of reference standard criteria. Furthermore, there is no literature on CV measurement for intracranial arterial wall calcification. AS on the other hand is a validated quantitative parameter used to assess coronary artery calcification with wide availability of clinical data across gender, race and age [20].
            </p>
            <p>
                Posterior circulation calcification was not significantly associated with PCI even after adjusting the confounding factors. Chawalparit and Chareewit (2013) which had almost similar number of patients with our study have found no association between vertebrobasilar artery calcification and infratentorial infarct [17]. A possible explanation is the presence of posterior circulation vasculature variations which may disturb the posterior circulation hemodynamics. In our study, the low percentage of patients with posterior circulation calcification  may also be inadequate to give significant statistical difference between both groups. Most of other previous studies evaluated the prevalence of PCI in posterior circulation calcification, the risk factors and clinical outcome. Even though posterior circulation calcification was not significantly associated with PCI, an increase in AS or CV by 1 showed a 1.02 times the odds for patient to experience PCI. This finding indicates that an increase in posterior circulation calcification burden has a risk to develop PCI.
            </p>
            <p>
                Increasing age, male gender and hyperlipidaemia were significantly associated with PCI after adjustment for confounding variables. These are well known established risk factors for intracranial atherosclerosis. Large autopsy studies also showed that intracranial arteries are free from atherosclerosis until the fourth decade [21]. Interestingly, a study with larger sample size found that extracranial atherosclerosis was more prevalent in older age, male gender and hyperlipidaemia, while intracranial atherosclerosis was more prevalent in younger age and female gender [22].
            </p>
            <p>
                Although diabetes mellitus and hypertension were shown to have strong association with posterior circulation atherosclerosis and strong risk factors for PCI [20], our study failed to demonstrate significant association with PCI. The number of diabetes mellitus and hypertension cases among our PCI patients were relatively lower probably due to underdiagnosis.    
            </p>
            <p>
                The strength of this study was the application of AS and CV to quantify the posterior circulation calcification.  Furthermore, we categorised patients based on CT brain reports so that a causal relationship between posterior circulation calcification and PCI could be determined. However, the disadvantage of our method was the inability to quantify the non-calcified plaques which can only be appreciated in contrast study, a non-routine practice in the majority of our patients. Other causes of PCI such as thromboembolic phenomenon and extracranial vertebral artery calcification were also unaccounted for in our study.
            <p>
                Our patients with PCI was categorised based on CT reports without clinical correlation. Hence, pathological conditions such as infratentorial cerebritis or encephalitis can cause false positive interpretation on plain CT study if clinical information was inadequate. Even though plain CT can detect ischaemic infarct in 82% of patients presenting after 6 hours [23], there is still a probability of missing PCI. Another limitation of CT is that ischaemic changes in the brain stem can be obscured by beam hardening artefact which commonly occurs at the skull base. The 64 multislice CT scanner that was used in our study may have also produced slightly different image quality compared to institutions using a 128 multisclice CT scanner. Our study also did not take into account the anatomical variations of the posterior circulation system which may be present in our study population. Lastly, this study being a retrospective design is a limitation by itself due to possibility of selection bias. 
            </p>
            <p>
                Most previous published studies have isolated Gram-positive organisms as the most common causative
                microorganisms of bloodstream infection(7, 24, 25). However, half of the cases (4 out of 8) with
                bloodstream infections in our study are caused by Gram-negative organism, ie, Klebsiella pneumonia.
                The emergence bloodstream infection caused by Gram-negative organisms which also include Pseudomonas
                aeruginosa and E.coli have been attributed to the rapid increased in extensively drug resistant gram
                negative bacilli especially in hospital intensive care units. (26).
            </p>
        </section>
        <section><span id="limitation"></span>
            <h2>Limitation</h2>
            <p>
                For future studies, a larger cohort study is recommended so that more patients with posterior circulation calcification and infarct can be included in this study in order to determine a significant cut off values for AS and CV. Additional imaging with MRI would be an ideal tool to confirm the diagnose of PCI and to prevent false positive. The susceptibility weighted imaging sequence can be used to detect posterior circulation calcification. Significant risk factors such as diabetes mellitus, hypertension, hyperlipidaemia and ischaemic heart disease should be thoroughly screened in each patient to prevent underdiagnosis. Echocardiography should also be performed in all patients with PCI to exclude cardioembolism phenomenon.
            </p>
        </section>
        <section><span id="conclusion"></span>
            <h2>Conclusion</h2>
            <p>
                Overall, our study showed that posterior circulation calcification was not associated with PCI. However, increase in posterior circulation calcification burden was associated with PCI. Since both AS and CV showed strong positive correlation with each other, either method can be used to measure the posterior circulation calcification. Male gender, increasing age and hyperlipidaemia were significantly associated with PCI after adjustment of confounding variables. 
            </p>
        </section>

        <section><span id="figures"></span>
            <h2>Figures</h2>
            <div class="container">
                <figure id="figure-1" class="figure">
                    <img onclick="openImageViewer('figure-1')" src="../../../images/original/vol_1/ori_0/Figure 1.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 1">
                    <figcaption class="figure-caption figure-padding">
                        Pearson’s correlation graph
                    </figcaption>
                </figure>
            </div>
        </section>
        <section><span id="table"></span>
            <h2>Tables</h2>
            <div class="container">
                <figure id="table-1" class="figure">
                    <img onclick="openImageViewer('table-1')" src="../../../images/original/vol_1/ori_0/Table 1.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 1">
                    <figcaption class="figure-caption figure-padding">
                        Table 1: Demographic data of study (n=211).
                    </figcaption>
                </figure>
            </div>
            <div class="container">
                <figure id="table-2" class="figure">
                    <img onclick="openImageViewer('table-2')" src="../../../images/original/vol_1/ori_0/Table 2.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 2">
                    <figcaption class="figure-caption figure-padding">
                        Table 2: Difference in mean total Agatston calcium score and mean total calcium volume between patients with posterior circulation infarct and normal computed tomography.
                    </figcaption>
                </figure>
            </div>
            <div class="container">
                <figure id="table-3" class="figure">
                    <img onclick="openImageViewer('table-3')" src="../../../images/original/vol_1/ori_0/Table 3.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 3">
                    <figcaption class="figure-caption figure-padding">
                        Table 3: Pearson’s correlation table for Agatston calcium score and calcium volume among patients with posterior circulation infarct.
                    </figcaption>
                </figure>
            </div>
            <div class="container">
                <figure id="table-4" class="figure">
                    <img onclick="openImageViewer('table-4')" src="../../../images/original/vol_1/ori_0/Table 4.jpg"
                        class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-25" alt="Figure 4">
                    <figcaption class="figure-caption figure-padding">
                        Table 4: Relationship between age, gender, significant risk factors, posterior circulation calcification, Agatston calcium score and calcium volume with posterior circulation infarct as the outcome.
                    </figcaption>
                </figure>
            </div>
        </section>

        <section><span id="reference"></span>
            <h2>References</h2>
            <ol>
                <li>Venketasubramanian N. The epidemiology of stroke in ASEAN countries : a review. Neurol J SE Asia. 1998;3:9-14.</li>
                <li>Cheah WK, Hor CP, Zariah AA, Looi I. A Review of Stroke Research in Malaysia from 2000 - 2014. Med J Malaysia. 2016;71(Suppl 1):58-69.</li>
                <li>Nazifah S, Azmi I, Hamidon B, Looi I, Zariah A, Hanip M. National Stroke Registry (NSR): Terengganu and Seberang Jaya experience. Med J Malaysia. 2012;67(3):302-4.</li>
                <li>Joon-Tae K, Man-Seok P, Kang-Ho Choi, Beom JK, Moon-Ku H, Ta HP et al. Clinical Outcomes of Posterior Versus Anterior Circulation Infarction With Low National Institutes of Health Stroke Scale Scores. Stroke. 2017;48:55-62.</li>
                <li>Nouh A, Remke J, Ruland S. Ischaemic posterior circulation stroke: a review of anatomy, clinical presentations, diagnosis, and current management. Frontiers in neurology. 2014;5:30.</li>
                <li>Bos D, Portegies ML, van der Lugt A, Bos MJ, Koudstaal PJ, Hofman A, et al. Intracranial carotid artery atherosclerosis and the risk of stroke in whites: the Rotterdam Study. JAMA neurology. 2014;71(4):405-11.</li>
                <li>Chen Xy, Lam WWM, Ng HK, Fan Yh, Wong KS. Intracranial artery calcification: a newly identified risk factor of ischaemic stroke. Journal of Neuroimaging. 2007;17(4):300-3.</li>
                <li>Bugnicourt J-M, Leclercq C, Chillon J-M, Diouf M, Deramond H, Canaple S, et al. Presence of intracranial artery calcification is associated with mortality and vascular events in patients with ischaemic stroke after hospital discharge: a cohort study. Stroke. 2011;42(12):3447-53.</li>
                <li>Zariah AA, Norzifah Nazifah S, Mohd Kamarulariffin K, Nurkmal B, Abdul Muneer AH, Ahmad Lutfi MY and Khairul Azmi I. Annual Report of the Malaysian Stroke Registry 2009-2016. National Stroke Registry. 1-38.</li>
                <li>Ahn SS, Nam HS, Heo JH, Kim YD, Lee S-K, Han K, et al. Quantification of intracranial internal carotid artery calcification on brain unenhanced CT: evaluation of its feasibility and assessment of the reliability of visual grading scales. European radiology. 2013;23(1):20-7.</li>
                <li>Subedi D, Zishan US, Chappell F, Gregoriades M-L, Sudlow C, Sellar R, et al. Intracranial Carotid Calcification on Cranial Computed Tomography. Stroke. 2015;46(9):2504-9.</li>
                <li>Agatston AS, Janowitz WR, Hildner FJ, Zusmer NR, Viamonte M, Detrano R. Quantification of coronary artery calcium using ultrafast computed tomography. Journal of the American College of Cardiology. 1990;15(4):827-32.</li>
                <li>Kao HW, Liou M, Chung HW, Liu HS, Tsai PH, Chiang SW, et al. Middle Cerebral Artery Calcification: Association With Ischaemic Stroke. Medicine. 2015;94(50):e2311.</li>
                <li>Alluri K, Joshi PH, Henry TS, Blumenthal RS, Nasir K, Blaha MJ. Scoring of coronary artery calcium scans: history, assumptions, current limitations, and future directions. Atherosclerosis. 2015;239(1):109-17.</li>
                <li>Callister TQ, Cooil B, Raya SP, Lippolis NJ, Russo DJ, Raggi P. Coronary artery disease: improved reproducibility of calcium scoring with an electron-beam CT volumetric method. Radiology. 1998;208(3):807-14.</li>
                <li>Lo‐Kioeng‐Shioe MS, Vavere AL, Arbab‐Zadeh A, Schuijf JD, Rochitte CE, Chen MY, et al. Coronary Calcium Characteristics as Predictors of Major Adverse Cardiac Events in Symptomatic Patients: Insights From the CORE 320 Multinational Study. Journal of the American Heart Association. 2019;8(6):e007201.</li>
                <li>Chawalparit O, Chareewit S. Ischaemic cerebrovascular disease and calcified intracranial vertebrobasilar artery: A case-control study by using cranial CT. Journal of the Medical Association of Thailand = Chotmaihet thangphaet. 2013;96(3):346-50.</li>
                <li>Wu XH, Chen XY, Wang LJ, Wong KS. Intracranial Artery Calcification and Its Clinical Significance. Journal of clinical neurology. 2016;12(3):253-61.</li>
                <li>Chen Y-C, Wei X-E, Lu J, Qiao R-H, Shen X-F, Li Y-H. Correlation between intracranial arterial calcification and imaging of cerebral small vessel disease. Frontiers in neurology. 2019;10.</li>
                <li>Detrano RC, Anderson M, Nelson J, Wong ND, Carr JJ, McNitt-Gray M, et al. Coronary calcium measurements: effect of CT scanner type and calcium measure on rescan reproducibility—MESA study. Radiology. 2005;236(2):477-84.</li>
                <li>Leung SY, Ng T, Yuen ST, Lauder I, Ho F. Pattern of cerebral atherosclerosis in Hong Kong Chinese. Severity in intracranial and extracranial vessels. Stroke. 1993;24(6):779-86.</li>
                <li>Kim JS, Nah H-W, Park SM, Kim S-K, Cho KH, Lee J, et al. Risk factors and stroke mechanisms in atherosclerotic stroke: intracranial compared with extracranial and anterior compared with posterior circulation disease. Stroke. 2012;43(12):3313-8.</li>
                <li>Latchaw RE, Alberts MJ, Lev MH, Connors JJ, Harbaugh RE, Higashida RT, et al. Recommendations for imaging of acute ischaemic stroke: a scientific statement from the American Heart Association. Stroke. 2009;40(11):3646-78</li>
                </ol>
        </section>
    </article>
</div>